<template>
  <div id="app" @contextmenu.prevent="{}">
    <div class="left-abs" @click="searchFocus">
      <span>{{ playerName }}</span>
    </div>
    <div class="right-abs">
      <Ping :ping="ping" @click.native="pingServer" />
      <div class="focus-circle blur-screen" alt="green is on focus"></div>
    </div>
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/intro">Intro</router-link> |
      <router-link to="/game">Game</router-link> |
      <router-link to="/welcome">welcome</router-link> |
      <router-link to="/search">Search</router-link> |
      <router-link to="/room">Room</router-link>
    </div> -->
    <transition name="fade">
    <!-- <transition name="fade"> -->
      <router-view />
    </transition>
  </div>
</template>

<script>
import Ping from "@/components/Ping.vue";

export default {
  components: {
    Ping
  },
  mounted() {
    this.pingServer()

    if (localStorage.getItem("playerName")) {
      this.playerName = localStorage.getItem("playerName")
    }
  },
  data() {
    return {
      playerName: null,
      ping: 9999,
    }
  },
  watch: {
    playerName: function(val) {
      localStorage.setItem("playerName", val)
    }
  },
  sockets: {
    // connect(socket) {
    //   // console.log("connect", socket, this.$socket.id) 
    //   // const playerId = socket.id;
    //   // this.playerId = socket.id;

    //   // console.log(`Player connected on Client with id: ${playerId}`, playerId);
    // },
    "error-message"(message) {
      // console.log(`All rooms: ${rooms.length}`, this);

      this.showError(message);
    },
    "pong-client"(startTime) {
      this.ping = Date.now() - startTime;
    }
  },
  methods: {
    pingServer() {
      const startTime = Date.now();
      this.$socket.emit("ping-server", startTime);

      this.searchFocus()
    },
    showError(message) {
      alert(message)
    },
    searchFocus() {
      this.$children.map(child => "focus" in child.$refs && child.$refs.focus.focus())
    }
  }
}
</script>

<style>
@font-face {
  font-family: "RocknRollOne";
  src: local("RocknRollOne"),
   url(./fonts/RocknRollOne/RocknRollOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "DotGothic16";
  src: local("DotGothic16"),
   url(./fonts/DotGothic16/DotGothic16-Regular.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  outline: none;
}

/* div, span, h1, h2, h3, h4, h5, h6, p {
  font-family: "RocknRollOne";
} */

img {
  user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
}

body {
  padding: 0;
  margin: 0;
}

#app {
  font-family: "RocknRollOne";
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  user-select: none;
  color: #2c3e50;
  background-color: black;
}

#app:not(:focus-within) {
  cursor: pointer;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.flex {
  display: flex;
}

.right-abs {
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
  z-index: 100;
  display: flex;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
  position: absolute;
  width: 100vw;
}

/* .mode-fade-enter-active,
.mode-fade-leave-active {
  transition: opacity 0.2s;
  opacity: 0.5;
  position: absolute;
}

.mode-fade-enter-from,
.mode-fade-leave-to {
  opacity: 0;
} */

/* .mode-fade-enter-from {
  opacity: 0;
  position: absolute;
  width: 100vw;
}

.mode-fade-enter-active {
  transition: opacity 2s ease-in; 
}

.mode-fade-leave-active {
  transition: opacity 2s ease-out; 
}

.mode-fade-leave-to {
  opacity: 0;
} */

.left-abs {
  position: absolute;
  top: 8px;
  left: 10px;
  cursor: pointer;
  z-index: 100;
  color: #fff;
}

.focus-circle {
  margin-top: 5px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  background-color: #2ecc71;/* #ffc107;*/
  transition-duration: 0.2s;
  transition-delay: 0.2s;
  box-shadow: 0 2px 1px rgb(0 0 0 / 20%);
}

#app:not(:focus-within) .blur-screen {
  transform: scale(1.15) translateY(-4px) translateX(1px);
  box-shadow: 0 7px 7px rgb(0 0 0 / 30%);
  background-color: #bdc3c7;
}
</style>
