<template>
  <div tabindex="0" ref="focus" class="bg-black" @keydown.escape="backHome">
    <div ref="scroll" class="credits-container">
      <h1 class="credits-title">Credits</h1>
      <div>
        <h2>Created By</h2>
        <div class="credits-row">
          <a class="creator" :href="creator.link" target="_blank">{{ creator.name }}</a>
        </div>
        <h2>Visual By</h2>
        <div
          v-for="(person, index) in visual"
          :key="`visual-${index}`"
          class="credits-row"
        >
          <span class="person-text">{{ person.text }}</span>
          <a class="person-link" :href="person.link" target="_blank">{{ person.name }}</a>
        </div>
        <h2>Thanks for Codepen Users</h2>
        <div 
          v-for="(person, index) in codepen"
          :key="`codepen-${index}`"
          class="credits-row"
        >
          <span class="person-text">{{ person.text }}</span>
          <a class="person-link" :href="person.link" target="_blank">{{ person.name }}</a>
        </div>
        <h2>Testers</h2>
        <div 
          v-for="(person, index) in testers"
          :key="`testers-${index}`"
          class="credits-row"
        >
          <span class="person-text">{{ person.text }}</span>
          <a class="person-link" :href="person.link" target="_blank">{{ person.name }}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Credits",
  mounted() {
    this.$nextTick(() => this.$refs.focus.focus())

    this.scrollUp()
  },
  beforeDestroy() {
    console.log("beforeDestroyed")
    this.stop = true
  },
  data() {
    return {
      stop: false,
      creator: {
        name: "GreatGui",
        link: "https://github.com/GreatGui",
        // text: "Signals"
      },
      visual: [
        {
          name: "Camila Éladrim",
          // link: "https://codepen.io/doddsy105",
          text: "Logo FD"
        },
        {
          name: "Oicometa",
          link: "https://www.instagram.com/Oicometa/?fbclid=IwAR3P4hn92qbm1YtxeTqv4Afg2SQbBFHKKa8lzlC1XcifswuvI2fKmEg2_zg",
          text: "Some Sprites"
        },
      ],
      codepen: [
        {
          name: "John Otander",
          link: "https://codepen.io/johno",
          text: "Signals"
        },
        {
          name: "Lionel T",
          link: "https://codepen.io/elrumordelaluz",
          text: "CSShake"
        },
        {
          name: "George W. Park",
          link: "https://codepen.io/GeorgePark",
          text: "3D"
        },
        {
          name: "Nicolas Pavlotsky",
          link: "https://codepen.io/nicolaspavlotsky",
          text: "Parallax Flipping Cards"
        },
        {
          name: "Drew Conley",
          link: "https://codepen.io/punkydrewster713",
          text: "Walking Sprites Demo"
        },
        {
          name: "Adam",
          link: "https://codepen.io/doddsy105",
          text: "HTML5 Video"
        },
        {
          name: "Saransh Sinha",
          link: "https://codepen.io/saransh",
          text: "Parallax Star background in CSS"
        },
        {
          name: "Saransh Sinha",
          link: "https://codepen.io/saransh",
          text: "Gravity Animated Poster"
        },
        {
          name: "Lewi Hussey",
          link: "https://codepen.io/Lewitje",
          text: "Adaptive tabs"
        },
        {
          name: "Takuma.I",
          link: "https://codepen.io/Takumari85",
          text: "Awesome input focus effects"
        },
        {
          name: "Muhammed Erdem",
          link: "https://codepen.io/JavaScriptJunkie",
          text: "Profile Card"
        },
        {
          name: "Arsen Zbidniakov",
          link: "https://codepen.io/ARS",
          text: "Page Transition Loader"
        },
      ],
      testers: [
        {
          name: "Camila Éladrim",
          // link: "https://codepen.io/doddsy105",
          text: "Game Tester"
        },
        {
          name: "Felipe Aparecido",
          link: "https://github.com/fellipeapssilva",
          text: "Game Tester"
        },
      ]
    }
  },
  methods: {
    backHome() {
      this.$router.push({ name: "Home", params: { skip: true } })
    },
    scrollUp() {
      let scrollContainer = this.$refs.scroll;

      this.scrollByContainer(scrollContainer);
    },
    scrollByContainer(scrollContainer) {
      console.log(scrollContainer)
      if(scrollContainer && !this.stop) {
        scrollContainer.scrollBy({ top: 20, behavior: 'smooth' });

        setTimeout(() => {
          this.scrollByContainer(scrollContainer)
        }, 1000)
      }
    }
  }
}
</script>

<style>
#app:not(:focus-within) .blur-screen{
  box-shadow: 0 -2px 7px rgb(255 255 255 / 50%);
}

.credits-title {
  font-size: 40px;
}

.bg-black {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  color: aliceblue;
}

.creator {
  margin: auto;
  font-size: 1.2em;
  color: aliceblue;
}

.credits-container {
  width: 80%;
  margin: 100px auto;
  overflow-y: auto;
  height: 80vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.credits-container::-webkit-scrollbar {
  display: none;
}

.person-text {
  display: block;
  width: 50%;
  text-align: right;
  padding: 5px 10px;
}

.person-link {
  display: block;
  width: 50%;
  text-align: left;
  padding: 5px 10px;
  font-weight: bold;
  color: aliceblue;
}

.credits-row {
  display: flex;
}
</style>
