<template>
  <div tabindex="0" ref="focus" @keydown.prevent="handleKeydown">
    <div class="top-buttons">
      <!-- <button @click="perspective = !perspective">Play</button> -->
      <button :class="{ active: perspective }" @click="perspective = !perspective">
        3D
      </button>
      <button :class="{ active: animations }" @click="animations = !animations">
        Animations
      </button>
      <span v-if="debug">
        <button @click="revive">Revive</button>
        <button @click="reset">Reset</button>
        <button :class="{ active: number }" @click="number = !number">
          Number
        </button>
      </span>
    </div>
    <div v-show="!loading" class="game-match">
      Match {{ state.match }}
    </div>
    <div class="arena" :class="{ 'arena-perspective': perspective }">
      <div class="full-arena" v-show="state.roomName">
        <Infos
          :players="playersLeft"
        />
        <div class="about">
          <div v-for="(row, rowIndex) in state.field" :key="rowIndex" class="lines grass">
            <div
              v-for="(square, columnIndex) in row"
              class="square"
              :key="columnIndex"
              :class="typeSquare(square)"
            >
              <img v-if="square == 1" class="obj-arena" src="@/assets/arbusto2.png"/>
              <!-- <img v-if="square == 1" class="obj-arena alga" src="@/assets/gramaalta.png"/> -->
              <img v-if="square == 2" class="obj-arena box-img" src="@/assets/1d-crates-2.png">
              <img v-else-if="square == -1" class="obj-arena loot-img" :class="{ animated: animations }" src="@/assets/fire-up-48.png">
              <img v-else-if="square == -2" class="obj-arena loot-img" :class="{ animated: animations }" src="@/assets/bomb-up-48.png">
              <img v-else-if="square > 9" class="obj-arena bomb shake shake-opacity" :class="'skill'" src="@/assets/bomb.png">
              <div v-else-if="square < -9" class="fire obj-arena">
                <img  class="pixel-art-image fire-sheet" src="@/assets/fire.png">
              </div>
              <span v-if="number" v-show="square == 0">
                {{ `${rowIndex}, ${columnIndex}` }}
              </span>
            </div>
          </div>
          <div v-show="!loading">
            <Geek
              v-for="(player, playerId) in state.players"
              :key="playerId"
              class="player"
              :class="{ death: !player.isLive }"
              :live="player.isLive"
              :id="player.id"
              :direction="player.direction"
              :style="meStyle({ top: player.y, left: player.x })"
            />
          </div>
        </div>
        <Infos
          :players="playersRight"
          :reverse="true"
        />
      </div>
    </div>
    <Modal
      v-if="showModal"
      :owner="roomOwner"
      @restart="restart"
      @newMatch="newMatch"
      @leave="backHome"
      @keydown.enter.stop="handleModalKey"
      @resume="showModal = false"
    >
      <div>{{ winner.message }}</div>
      <div class="player-winner">
        <Geek
          v-if="winner.id"
          :live="true"
          :idle="true"
          :id="winner.id"
        />
      </div>
    </Modal>
    <FullLoading :loading="loading" @finished="loading = false" />
  </div>
</template>

<script>
import Geek from "@/components/Geek.vue";
import Infos from "@/components/Infos.vue";
import Modal from "@/components/Modal.vue";
import FullLoading from "@/components/FullLoading.vue";

export default {
  name: "Game",
  components: {
    Geek,
    Infos,
    Modal,
    FullLoading
  },
  mounted() {
    this.$nextTick(() => this.$refs.focus.focus())
  },
  beforeRouteLeave (to, from, next) {
    this.$socket.emit('leave-match')

    next()
  },
  props: {
    name: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      debug: false,
      loading: true,
      showModal: false,
      animations: true,
      number: false,
      perspective: false,
      state: {
        players: {},
        fruits: {},
        screen: {
          width: null,
          height: null
        },
        field: []
      },
      winner: {
        id: null,
        message: ""
      }
    };
  },
  computed: {
    playersLeft() {
      return Object.values(this.state.players).filter((player, index) => index % 2 == 0)
    },
    playersRight() {
      return Object.values(this.state.players).filter((player, index) => index % 2 == 1)
    },
    roomOwner() {
      // console.log(this.state.roomOwner, this.playerId, this.$parent.playerId)
      return this.state.roomOwner == this.$socket.id;
    },
  },
  sockets: {
    setup(state) {
      console.log('SETUP', state)
      this.setState(state);
    },
    "reset-game"(command) {
      this.loading = true
      this.showModal = false;

      this.winner.message = ""
      this.winner.id = null
      console.log(`Receiving ${command.type}`);

      setTimeout(() => {
        this.resetGame(command.state);
      }, 500)
    },
    "add-player"(command) {
      console.log(`Receiving ${command.type} -> ${command.playerId}`);
      this.addPlayer(command);
    },
    "remove-player"(command) {
      console.log(`Receiving ${command.type} -> ${command.playerId}`);
      this.removePlayer(command);
    },
    "revive-player"(command) {
      console.log(`Receiving ${command.type} -> ${command.playerId}`);
      this.state.players[command.playerId].isLive = true;
    },
    "move-player"(command) {
      console.log(`Receiving ${command.type} -> ${command.playerId}`);

      // const movingKeys = ["ArrowUp", "ArrowDown", "ArrowRight", "ArrowLeft"];
      // if(movingKeys.includes(command.keyPressed)){
      //   this.state.players[command.playerId].idle = false
      // }

      this.movePlayer(command);
    },
    "player-collect"(command) {
      console.log(`Receiving ${command.type} -> ${command.playerId}`);
      this.playerCollected(command)
    },
    "bomb-planted"(command) {
      console.log(`Receiving ${command.type} -> ${command.playerId}`);
      this.planted(command)
    },
    "bomb-fire"(command) {
      console.log(`Receiving ${command.type} -> ${command.playerId}`);
      const playerId = command.playerId
      
      this.state.players[playerId].bomb < this.state.players[playerId].maxBomb && this.state.players[playerId].bomb++

      this.renderFire(command.squares)
    },
    "bomb-kill"(command) {
      console.log(`Receiving ${command.type} -> ${command.playerId}`);
      this.killPlayer(command)
    },
    "extinguished-fire"(command) {
      console.log(`Receiving ${command.type} `);
      this.updateField(command.field)
    },
    "win-match"(command) {
      console.log(`Receiving ${command.type} `);
      this.winMatch(command)
    },
    "draw-match"(command) {
      console.log(`Receiving ${command.type} `);
      this.drawMatch(command)
    }
  },
  methods: {
    meStyle({ top, left }) {
      return {
        top: `${top}px`,
        left: `${left}px`
      };
    },
    handleKeydown(event) {
      const keyPressed = event.key;
      const acceptedKeys = ["ArrowUp", "ArrowDown", "ArrowRight", "ArrowLeft", "q"];

      if(this.loading) {
        return;
      }

      if(!acceptedKeys.includes(keyPressed)) {
        if (keyPressed == "Escape") {
          this.showModal = !this.showModal
        }
        return;
      }
      console.log("keyPressed", keyPressed)

      const command = {
        type: "move-player",
        playerId: this.state.playerId,
        keyPressed
      };

      this.$socket.emit("move-player", command);
    },
    renderFire({ fireCenter, fireUp, fireDown, fireRight, fireLeft }) {
      this.$set(this.state.field[fireCenter.y], fireCenter.x, -10)
      this.drawFire(fireUp, -13, -11)
      this.drawFire(fireDown, -14, -11)
      this.drawFire(fireRight, -15, -12)
      this.drawFire(fireLeft, -16, -12)
    },
    resetGame(state) {
      this.modal = false
      this.$set(this, 'state', state);
    },
    setState(newState) {
      this.$set(this, 'state', newState);
      // this.loading = false
      // Object.assign(this.state, newState);
      // console.log("play-game", newState)
      this.$socket.emit("play-game", this.state.roomName)
      // this.$socket.emit("play-game", 'Discordia')
    },
    addPlayer(command) {
      console.log(command)
      const playerId = command.playerId;
      const playerX =
        "playerX" in command
          ? command.playerX
          : Math.floor(Math.random() * this.state.screen.width);
      const playerY =
        "playerY" in command
          ? command.playerY
          : Math.floor(Math.random() * this.state.screen.height);
      
      this.$set(this.state.players, playerId, {
        x: playerX,
        y: playerY,
        playerWins: command.playerWins,
        playerName: command.playerName,
        index: command.id,
        id: command.id,
        totalKills: command.totalKills,
        kills: command.kills,
        totalDeaths: command.totalDeaths,
        deaths: command.deaths,
        speed: command.speed,
        power: command.power,
        maxBomb: command.maxBomb,
        bomb: command.bomb,
        skill: command.skill,
        direction: command.direction,
        idle: command.idle,
        isLive: command.isLive
      });
    },
    movePlayer(command) {
      const vm = this;
      const body = vm.state.screen.tile - 1

      const acceptedMoves = {
        ArrowUp(player) {
          const left = { y: player.y - player.speed, x: player.x }
          const right = { y: player.y - player.speed, x: player.x + body }
          player.direction = "up"

          if (player.y - player.speed >= 0) {
            // player.y = vm.checkWallCollision(player, left, right)
            if (!vm.checkWallCollision(left, right)) {
              player.y = player.y - player.speed
            } else {
              player.y = Math.trunc(player.y / vm.state.screen.tile) * vm.state.screen.tile
            }
          } else {
            player.y = 0
          }
        },
        ArrowRight(player) {
          const left = { y: player.y, x: player.x + body + player.speed }
          const right = { y: player.y + body, x: player.x + body + player.speed }
          player.direction = "right"

          if (player.x + player.speed < vm.state.screen.maxWidth) {
            if (!vm.checkWallCollision(left, right)) {
              player.x = player.x + player.speed
            } else {
              player.x = Math.trunc((player.x + body) / vm.state.screen.tile) * vm.state.screen.tile
            }
          } else {
            player.x = vm.state.screen.maxWidth;
          }
        },
        ArrowDown(player) {
          const left = { y: player.y + body + player.speed, x: player.x }
          const right = { y: player.y + body + player.speed, x: player.x + body}
          player.direction = "down"

          if (player.y + player.speed < vm.state.screen.maxHeight) {
            if (!vm.checkWallCollision(left, right)) {
              player.y = player.y + player.speed
            } else {
              player.y = Math.trunc((player.y + body) / vm.state.screen.tile) * vm.state.screen.tile
            }
          } else {
            player.y = vm.state.screen.maxHeight
          }
        },
        ArrowLeft(player) {
          const left = { y: player.y, x: player.x - player.speed }
          const right = { y: player.y + body, x: player.x - player.speed }
          player.direction = "left"

          if (player.x - player.speed >= 0) {
            if (!vm.checkWallCollision(left, right)) {
              player.x = player.x - player.speed
            } else {
              player.x = Math.trunc(player.x / vm.state.screen.tile) * vm.state.screen.tile
            }
          } else {
              player.x = 0
          }
        },
      }

      const keyPressed = command.keyPressed;
      const playerId = command.playerId;
      const player = this.state.players[playerId];
      const moveFunction = acceptedMoves[keyPressed];

      // console.log(keyPressed, playerId, player)

      if (player && moveFunction) {
        const currentPosition = { x: player.x, y: player.y }
        moveFunction(player, currentPosition);
        // checkForFruitCollision(playerId)
      }
    },
    removePlayer(command) {
      const playerId = command.playerId

      this.$delete(this.state.players, playerId)
    },
    checkCollision() {
      return false
    },
    checkWallCollision(left, right) {
      let column = Math.trunc(left.x / this.state.screen.tile)
      let row = Math.trunc(left.y / this.state.screen.tile)

      console.log("tile left:", row, column, left.x, left.y)

      if(this.state.field[row][column] > 0) {
        return true
      }

      column = Math.trunc(right.x / this.state.screen.tile)
      row = Math.trunc(right.y / this.state.screen.tile)

      console.log("tile right:", row, column, right.x, right.y)

      return this.state.field[row][column] > 0
    },
    revive() {
      this.$socket.emit("revive");
    },
    reset() {
      this.$socket.emit("reset");
    },
    clickButton: function(data) {
      // $socket is socket.io-client instance
      this.$socket.emit("emit_method", data);
    },
    drawFire(fireSquares, lastFire, middleFire) {
      if(fireSquares.length) {
        const first = fireSquares.pop()

        this.state.field[first.y][first.x] = lastFire

        fireSquares.map(fire => this.state.field[fire.y][fire.x] = middleFire)
      }
    },
    killPlayer(command) {
      const playerId = command.playerId
      const players = command.players

      this.$set(this.state.players[playerId], 'isLive', false)
      setTimeout(() => {

      }, 1000);

      for(const playerId in players) {
        const { deaths, kills, totalDeaths, totalKills } = players[playerId]

        // console.log("killPlayer", { ...this.state.players[playerId], ...{ deaths, kills } })

        this.state.players[playerId] = { ...this.state.players[playerId], ...{ deaths, kills, totalDeaths, totalKills } }
      }
    },
    playerCollected(command) {
      const playerId = command.playerId
      const { x, y } = command.square
      const { power, bomb, maxBomb, skill } = command.player

      this.state.players[playerId] = { ...this.state.players[playerId], ...{ power, bomb, maxBomb, skill } }
      this.state.field[y][x] = 0
    },
    updateField(field) {
      this.$set(this.state, 'field', field)
    },
    typeSquare(square) {
      switch(square) {
        case 0:
          return null
        // case 1:
        //   return 'block'
        // case 2: 
        //   return 'box'
        // case 3: 
        //   return 'bomb'
        case -10:
          return 'fire-middle'
        case -11:
          return 'fire-vertical'
        case -12:
          return 'fire-horizontal'
        case -13:
          return 'fire-up'
        case -14:
          return 'fire-down'
        case -15:
          return 'fire-right'
        case -16:
          return 'fire-left'
      }
    },
    winMatch({ playerId }) {
      console.log("playerId", playerId);
      const player = this.state.players[playerId];

      this.winner.message = `Player ${player.playerName} won the match`;
      this.winner.id = player.id
      this.showModal = true
    },
    drawMatch() {
      this.winner.message = `The match was a draw`;
      this.showModal = true
    },
    restart() {
      this.$socket.emit("reset");
    },
    newMatch() {
      // console.log("newMatch")
      this.$socket.emit("new-match");
      // this.showModal = false
    },
    backHome() {
      this.showModal = false

      this.$router.push({ name: "Home", params: { skip: true } })
      // this.$socket.emit("leave-game");
    },
    planted({ bomb, playerId }) {
      this.$set(this.state.field[bomb.y], bomb.x, 10)

      console.log(playerId)
      this.state.players[playerId].bomb--
    },
    handleModalKey(key) {
      console.log("handleModalKey", key)
    }
  },
  watch: {
    showModal(newValue) {
      if (!newValue) {
        this.$nextTick(() => this.$refs.focus.focus())
      }
    }
  }
};
</script>

<style>
:root {
  --perspec-angle: 45deg;
  --pixel-size: 2; /* Try playing with this value! */
}

.pixel-art-image {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
}

.arena {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 50px 20px;
  /* padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center; */
  background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
}

.arena-perspective {
  perspective: 900px;
}

.arena-perspective .about {
  transform-style: preserve-3d;
  transform: rotateX( var(--perspec-angle) );
  padding-top: 24px;
}

.arena-perspective .character {
  transform: rotateX( calc(var(--perspec-angle) * -1) );
}

.arena-perspective * {
  transform-origin: 50% 100% 0;
}

.about {
  position: relative;
  border: 16px solid #5e9e58;
  border-top: none;
  border-radius: 10px;
  background-color: #5e9e58;
  /* width: max-content; */
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-self: center;
  box-shadow: 0px 8px 60px -10px rgb(13 28 39 / 60%);
}

.lines {
  display: flex;
}

.square {
  /* position: relative; */
  width: calc(var(--pixel-size) * 24px);
  height: calc(var(--pixel-size) * 24px);
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url("~@/assets/grass.png"); */
  background-image: url("~@/assets/grassx96.png");
  /* background-image: url("~@/assets/grasscrupped3.png"); */
  background-size: cover;
}

.grass {
  background: #8acb6a;
}

.player {
  transition: 0.15s;
  position: absolute;
}

/* .block-css {
	padding: 10px;
  margin-top: -8px;
  background: #e8e2d7;
	border-top: 1px solid #f4f4f2;
	box-shadow: 0 7px 0 #BFBAAD, 0 0.5em 0 #A8A38C, 0 12px 12px #A8A38C;
	border-radius: 8px;
} */

.box-img {
  width: 90%;
  transform: rotateX( calc(20deg * -1) );
  filter: drop-shadow(0px 5px 2px #5d8544);
  /* filter: grayscale(1) drop-shadow(0px 5px 2px #5d8544); */
  align-self: flex-end;
}

.obj-arena {
  transform: rotateX( calc(20deg * -1) );
}

.fire {
  width: calc(var(--pixel-size) * 16px);
	height: calc(var(--pixel-size) * 16px);
	overflow: hidden;
	position: relative;
  transform: scale(1.5)
}

.fire-sheet {
	animation: fireAnimation 0.5s steps(4) infinite; 
   /* ^ "Complete the animation in 4 distinct steps". We use 4 because each row of the spritesheet has 4 frames. */
	position: absolute;
	bottom: 0;
	left: 0;
}

.fire-middle .fire-sheet {
	left: 0;
}
.fire-vertical .fire-sheet {
	left: calc(var(--pixel-size) * -16px);
}
.fire-horizontal .fire-sheet {
	left: calc(var(--pixel-size) * -32px);
}
.fire-up .fire-sheet {
	left: calc(var(--pixel-size) * -48px);
}
.fire-down .fire-sheet {
	left: calc(var(--pixel-size) * -64px);
}
.fire-right .fire-sheet {
	left: calc(var(--pixel-size) * -80px);
}
.fire-left .fire-sheet {
	left: calc(var(--pixel-size) * -96px);
}


@keyframes fireAnimation {
  from {
    transform: translate3d(0%, 0%, 0);
  }
  to {
    transform: translate3d(0%, 100%, 0);
    opacity: 0;
  }
}

.bomb {
  width: 90%;
  margin-bottom: 16px;
  margin-left: 10px;
  filter: drop-shadow(0px 2px 4px black);
}

.shake {
  /* display: inline-block; */
  transform-origin: center center;
}

.shake.shake-opacity {
  animation-name: shake-opacity;
  animation-duration: 3000ms;
  /* animation-iteration-count: infinite; */
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

@keyframes shake-opacity {
  10% {
    transform: translate(0px, 0px) rotate(3.5deg);
  }
  12% {
    transform: translate(0px, 0px) rotate(-2.5deg);
  }
  14% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  16% {
    transform: translate(0px, 0px) rotate(1.5deg);
  }
  18% {
    transform: translate(0px, 0px) rotate(6.5deg);
  }
  20% {
    transform: translate(0px, 0px) rotate(-4.5deg);
  }
  22% {
    transform: translate(0px, 0px) rotate(5.5deg);
  }
  24% {
    transform: translate(0px, 0px) rotate(-1.5deg);
  }
  26% {
    transform: translate(0px, 0px) rotate(7.5deg);
  }
  30% {
    transform: translate(1.5px, 2.5px) rotate(-0.5deg);
  }
  32% {
    transform: translate(0.5px, 1.5px) rotate(1.5deg);
  }
  34% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  36% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  38% {
    transform: translate(2.5px, -0.5px) rotate(0.5deg);
  }
  40% {
    transform: translate(0.5px, -1.5px) rotate(1.5deg);
  }
  42% {
    transform: translate(-0.5px, 2.5px) rotate(0.5deg);
  }
  44% {
    transform: translate(0.5px, -1.5px) rotate(1.5deg);
  }
  46% {
    transform: translate(1.5px, -1.5px) rotate(0.5deg);
  }
  48% {
    transform: translate(-1.5px, -0.5px) rotate(1.5deg);
  }
  50% {
    transform: translate(2.5px, 1.5px) rotate(1.5deg);
  }
  52% {
    transform: translate(-1.5px, -0.5px) rotate(1.5deg);
  }
  54% {
    transform: translate(1.5px, 0.5px) rotate(-0.5deg);
  }
  56% {
    transform: translate(1.5px, 0.5px) rotate(-0.5deg);
  }
  58% {
    transform: translate(2.5px, -0.5px) rotate(0.5deg);
  }
  60% {
    transform: translate(-0.5px, -1.5px) rotate(1.5deg);
  }
  62% {
    transform: translate(1.5px, -0.5px) rotate(0.5deg);
  }
  64% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg);
  }
  66% {
    transform: translate(0.5px, -0.5px) rotate(0.5deg);
  }
  68% {
    transform: translate(0.5px, -1.5px) rotate(1.5deg);
  }
  70% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
  75% {
    transform: translate(3px, 4px) rotate(-1.5deg);
    opacity: 0.3;
  }
  78% {
    transform: translate(0px, 0px) rotate(1.5deg);
    opacity: 0.7;
  }
  80% {
    transform: translate(-3px, -4px) rotate(-1.5deg);
    opacity: 0.4;
  }
  82% {
    transform: translate(4px, 2px) rotate(1.5deg);
    opacity: 0.7;
  }
  85% {
    transform: translate(-4px, -2px) rotate(0.5deg);
    opacity: 0.8;
  }
  88% {
    transform: translate(-3px, -3px) rotate(1.5deg);
    opacity: 1;
  }
  90% {
    transform: translate(3px, -2px) rotate(-1.5deg);
    opacity: 0.4;
  }
  92% {
    transform: translate(4px, 2px) rotate(0.5deg);
    opacity: 0.7;
  }
  93% {
    transform: translate(0px, 5px) rotate(2.5deg);
    opacity: 0.4;
  }
  95% {
    filter: invert(0) drop-shadow(0px 2px 4px black);
  }
  100% {
    filter: invert(1);
  }
}

.death {
  opacity: 0;
  /* animation-name: player-death; */
  transition-duration: 500ms;
  transition-delay: 1000ms;
}

.full-arena {
  display: flex;
  height: calc(100vh - 100px);
  /* height: 100%; */
  justify-content: space-between;  
}

.loot-img {
  width: 90%;
  filter: drop-shadow(0px 2px 4px black);
}

.loot-img.animated {
  animation: flash linear 1s infinite;
}

/* .loot-img:hover {
  width: 10%;
} */

@keyframes flash {
  0% { 
    opacity: 0.9;
    width: 90%;
    filter: drop-shadow(0px 2px 6px black);
  } 
	50% { 
    opacity: .4;
    width: 70%;
    filter: drop-shadow(0px 2px 3px black);
  } 
	100% { 
    opacity: 0.9;
    width: 90%;
    filter: drop-shadow(0px 2px 6px black);
  }
}

.alga {
  align-self: flex-end;
  margin-bottom: 6px;
  width: 120%;
  image-rendering: pixelated;
  filter: drop-shadow(0px 13px 2px #569348);
}

.top-buttons {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 120px;
}

.top-buttons button {
  cursor: pointer;
  /* border: 1px solid black; */
  border: none;
  margin: 0 1px;
  color: #fff;
  border-radius: 5px;
  padding: 2px 12px;
  background-color: grey;
}

.top-buttons button.active {
  background-color: #2a9d8f;
}

.top-buttons button:hover {
  opacity: 0.8;
}

.game-match {
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 45%;
}

.player-winner {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

/* 
.loot-img {
	position: relative;
}


.loot-img::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	transform: skewX(-25deg);
}
.loot-img:hover::before {
	animation: shine .75s;
}

@keyframes shine {
	100% {
		left: 125%;
	}
} */

/* Flashing */
/* .loot-img {
	animation: flash 5s infinite;
}

@keyframes flash {
	0% {
    filter: hue-rotate(0deg);
	}
	100% {
    filter: hue-rotate(360deg);
	}
}  */

</style>
