<template>
  <div
    tabindex="0"
    ref="focus"
    @keydown.enter="playerConfirm(true)"
    @keydown.escape.prevent="playerConfirm(false)"
    @keydown.left="prevChar"
    @keydown.right="nextChar"
    @keydown.down="startFocus"
  >
    <div class="wrapper">
      <h1 class="game-room-title">{{ room.name }}</h1>
      <div>
        <CharCard
          :char-id="id"
          :players="room.slots"
          :playerId="playerId"
          @prev="prevChar"
          @next="nextChar"
        />
        <div v-if="roomOwner && !timer">
          <button
            ref="start"
            class="profile-card__button button--blue js-message-btn"
            :disabled="startDisable"
            @click.stop="gameStart"
          >
            Start {{ `${confirmedPlayers}/${totalPlayers}` }}
          </button>
        </div>
        <div v-else class="timer-waiting">
          {{ timer || "Waiting for players to be ready" }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CharCard from "@/components/CharCard"
import charList from "@/plugins/charList.js";

export default {
  name: "GameRoom",
  components: {
    CharCard
  },
  mounted() {
    this.$socket.emit("get-room", this.name)

    this.$nextTick(() => this.$refs.focus.focus())
  },
  beforeRouterEnter (to, from, next) {
    this.sockets.unsubscribe("game-room");
    this.sockets.unsubscribe("updated-room");
    this.sockets.unsubscribe("started-room");

    next()
  },
  beforeRouteLeave (to, from, next) {
    if(to.path != `/game/${this.room.name}`) {
      this.$socket.emit('leave-room')
    }

    // this.sockets.unsubscribe("game-room");
    // this.sockets.unsubscribe("updated-room");
    // this.sockets.unsubscribe("started-room");

    next()
  },
  props: {
    name: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      id: 0,
      timer: 0,
      playerId: null,
      started: false,
      room: {
        slots: []
      },
    }
  },
  computed: {
    totalPlayers() {
      return this.room.slots.filter(player => player.playerId).length;
    },
    confirmedPlayers() {
      return this.room.slots.filter(player => player.confirmed).length;
    },
    roomOwner() {
      return this.room.owner == this.playerId;
    },
    startDisable() {
      return this.confirmedPlayers < this.totalPlayers;
    }
  },
  watch: {
    startDisable(val) {
      if(this.roomOwner && !val) {
        this.$nextTick(() => this.$refs.start.focus())
      } else {
        this.$nextTick(() => this.$refs.focus.focus())
      }
    }
  },
  sockets: {
    "game-room"({ room, playerId }) {
      console.log("Game Room", room, playerId)

      this.room = room
      this.playerId = playerId
    },
    "updated-room"(slots) {
      
      this.room.slots = [ ...slots ];
    },
    "started-room"() {
      this.started = true;

      this.timer = 5;
      this.countdown();
    }
  },
  methods: {
    nextChar() {
      if(this.confirmed) {
        return
      }

      if(this.id > (charList.length - 2)) {
        this.id = 0
      } else {
        this.id++
      }
    },
    prevChar() {
      if(this.confirmed) {
        return
      }

      if(this.id < 1) {
        this.id = charList.length - 1
      } else {
        this.id--
      }
    },
    playerConfirm(status) {
      const player = {
        confirmed: status,
        id: this.id
      }
      const slot = this.room.slots.find(slot => slot.playerId == this.playerId)

      if(this.started) {
        return
      }

      if(!status && !slot.confirmed) {
        if(confirm("Are you sure you want to leave the room?")){
          this.backPage();
        }
        return;
      }

      this.$socket.emit("update-room", player)
    },
    gameStart() {
      if(this.confirmedPlayers < this.totalPlayers) {
        return
      }
      console.log("gameStart")

      this.$socket.emit("start-room")
    },
    countdown() {
      setTimeout(() => {
        this.timer--;

        if(this.timer) {
          this.countdown();
        } else {
          const name = this.room.name

          if(this.roomOwner) {
            this.createGame()
          }

          this.$router.replace({ name: "Game", params: { name } })
        }
      }, 1000)
    },
    createGame() {
      this.$socket.emit("create-game", this.room.name);
    },
    backPage() {
      this.$router.go(-1)
    },
    startFocus() {
      this.$refs.start.focus();
    }
  }
}
</script>

<style scoped>
.game-room-title {
  margin-top: 0;
  color: #fff;
  font-size: 50px;
}

.wrapper {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 50px 20px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
}

.profile-card__button {
  background: none;
  border: none;
  font-weight: 700;
  font-size: 19px;
  margin: 15px 35px;
  padding: 15px 40px;
  min-width: 201px;
  border-radius: 50px;
  min-height: 55px;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all 0.3s;
  background-color: #aaa;
  opacity: 0.5;
}

.profile-card__button.button--blue:not(:disabled) {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  /* box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4); */
  opacity: 1;
}

.profile-card__button.button--blue:hover:not(:disabled),
.profile-card__button.button--blue:focus:not(:disabled) {
  box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
}

.profile-card__button:disabled {
  cursor: not-allowed;
}

.timer-waiting {
  color: #fff;
  font-size: 22px;
  margin-top: 10px;
}
</style>