<template>
  <div
    tabindex="0"
    ref="focus"
    class="stars-bg"
    :class="{ stars: stars }"
    @keydown="pressAnyKey"
  >
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <transition name="bounce">
      <div id='title' v-show="title">
        <span>
          GreatGui
        </span>
        <br>
        <span>
          Games
        </span>
      </div>
    </transition>
    <div class="earth-horizon-up" :class="{ active: !showHome }">
      <div id='horizon'>
        <div class='glow'></div>
      </div>
      <div id='earth'></div>
      <div id='title-game' :class="{ 'title-appear': !skip }">
        Friends <img src="@/assets/logo.png" class="logo" alt="logo">f Discordia
      </div>
      <div v-show="pressMenu">
        <div v-if="!menu" class='subtitle'>
          <span>
            Press
          </span>
          <span>
            Any
          </span>
          <span>
            Key
          </span>
        </div>
        <div v-else-if="!hasName" id="popup1" class="overlay flex">
          <div class="popup">
            <h2>Please enter your nickname</h2>
            <div class="content">
              <input
                v-model="name"
                ref="inputname"
                type="text"
                @keydown.enter.stop="sendName"
              />
            </div>
          </div>
        </div>
        <div v-else class="subtitle intro-menu">
          <div class="intro-item" :class="introActive(0)">Create a Room</div>
          <div class="intro-item" :class="introActive(1)">Find Room</div>
          <div class="intro-item" :class="introActive(2)">Controls</div>
          <div class="intro-item" :class="introActive(3)">Credits</div>
        </div>
        <!-- <img src="@/assets/logo.png" class="logo" alt="logo"> -->
      </div>
    </div>
    <transition name="slide-fade">
      <div v-if="commands" class="info-container">
        <div class="intro-infos">
          <h2 class="intro-title">Commands</h2>
          <div class="intro-commands">
            <div class="intro-row">
              <i class="fas fa-arrow-alt-circle-up"></i>
              <div>Arrow Up</div>
            </div>
            <div class="intro-row">
              <i class="fas fa-arrow-alt-circle-right"></i>
              <div>Arrow Right</div>
            </div>
            <div class="intro-row">
              <i class="fas fa-arrow-alt-circle-down"></i>
              <div>Arrow Down</div>
            </div>
            <div class="intro-row">
              <i class="fas fa-arrow-alt-circle-left"></i>
              <div>Arrow Left</div>
            </div>
            <div class="intro-row">
              <i class="fas fa-bomb"></i>
              <div>Q</div>
            </div>
            <!-- <div class="intro-row">
              <i class="fas fa-quran"></i>
              <span>E</span>
            </div> -->
          </div>
          <div class="intro-quit intro-active">Quit</div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "Home",
  mounted() {
    let vm = this;

    this.$nextTick(() => this.$refs.focus.focus())

    if(this.skip) {
      vm.stars = true
      vm.showHome = true
      vm.pressMenu = true
      vm.menu = true
    } else {
      vm.title = true
      setTimeout(() => {
        vm.title = false
        vm.stars = true
      }, 3000);

      setTimeout(() => {
        vm.showHome = true
      }, 4000);

      setTimeout(() => {
        vm.pressMenu = true
      }, 5000);
    }
  },
  props: {
    skip: {
      type: Boolean
    }
  },
  data() {
    return {
      title: false,
      menu: false,
      name: null,
      showHome: false,
      pressMenu: false,
      commands: false,
      stars: false,
      item: 0
    };
  },
  computed: {
    hasName() {
      return !!this.$parent.playerName
    }
  },
  sockets: {
    connect() {
      // Fired when the socket connects.
      this.isConnected = true;
    },
    disconnect() {
      this.isConnected = false;
    },
  },
  methods: {
    pressAnyKey(event) {
      if(this.showHome && !this.menu) {
        this.menu = true

        if(!this.hasName) {
          this.$nextTick(() => this.$refs.inputname.focus())
        }
        return
      }

      if(this.menu && this.hasName) {
        if(!this.commands && event.key == "ArrowDown" && this.item < 3) {
          this.item++;
        } else if(!this.commands && event.key == "ArrowUp" && this.item > 0) {
          this.item--;
        } else if(event.key == "Escape") {
          this.showHome = true;
          this.pressMenu = true;
          this.commands = false;

        } else if(event.key == "Enter") {
          event.preventDefault();
          
          switch(this.item) {
            case 0:
              this.$router.push("/room");
              break;
            case 1:
              this.$router.push("/search");
              break;
            case 2:
              this.showHome = !this.showHome;
              this.pressMenu = !this.pressMenu;
              this.commands = !this.commands;
              break;
            case 3:
              this.$router.push("/credits");
              break;
          }
        }
      }
    },
    introActive(item) {
      return item == this.item ? "intro-active" : null
    },
    sendName() {
      if (!this.name) {
        alert("Invalid name");
      }

      if (this.name.length < 3) {
        alert("Name needs to be longer than 3 characters");
      }

      if (this.name.length > 16) {
        alert("Name must be less than 16 characters.");
      }

      this.$parent.playerName = this.name

      this.$refs.focus.focus()
    }
  }
};
</script>

<style scoped>
#popup1 input {
  font-size: 22px;
  width: 100%;
}

.black-bg {
  background: black
}

.active .logo {
  opacity: 0;
}

.logo {
  /* position: absolute; */
  width: 200px;
  margin: -60px;
  /* bottom: 0; */
  /* left: 0; */
  /* filter: brightness(0.5); */
}

.intro-row {
  display: flex;
  margin: 5px;
  justify-content: space-between;
  align-items: center;
}

.intro-quit {
  font-size: 30px;
  border-radius: 10px;
  padding: 5px 20px;
}

.intro-infos  {
  color: #d8d8d8;
  height: 70vh;
  width: 50vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info-container {
  height: 100vh;
  display: flex;
}

.intro-commands {
  height: 100%;
  width: 300px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
}

.intro-title {
  width: 100%;
  font-size: 40px;
  height: max-content;
}

.stars-bg {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  color: #FFF;
}

.intro-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-item {
  /* transition: 0.5s; */
  border-radius: 10px;
  padding: 5px 20px;
  margin: 5px;
}

.intro-active {
  border: 2px solid;
  padding: 3px 20px;
}

#title-game,
#horizon,
#earth {
  transition: 1s;
}

.active #title-game {
  height: 0%;
}

.active #horizon {
  height: 0%;
}

.active #earth {
  height: 0%;
}

.slide-fade-enter-active {
  transition: all 1.3s ease;
}
/* .slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
} */
.slide-fade-enter {
  transform: translateY(1000px);
  opacity: 0;
}

/* .stars #stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1687px 280px #FFF , 568px 1896px #FFF , 1242px 1368px #FFF , 1488px 1166px #FFF , 558px 1093px #FFF , 382px 1229px #FFF , 250px 470px #FFF , 1222px 482px #FFF , 157px 1238px #FFF , 551px 1692px #FFF , 42px 1066px #FFF , 220px 191px #FFF , 1118px 689px #FFF , 485px 703px #FFF , 317px 876px #FFF , 889px 463px #FFF , 1444px 1187px #FFF , 1348px 1806px #FFF , 1325px 135px #FFF , 1163px 1643px #FFF , 792px 185px #FFF , 62px 849px #FFF , 1942px 360px #FFF , 697px 109px #FFF , 561px 496px #FFF , 17px 1709px #FFF , 394px 1414px #FFF , 1243px 1090px #FFF , 1582px 1263px #FFF , 412px 81px #FFF , 1151px 1492px #FFF , 862px 1651px #FFF , 294px 1160px #FFF , 1759px 443px #FFF , 1266px 1304px #FFF , 759px 526px #FFF , 1128px 1716px #FFF , 1461px 85px #FFF , 1856px 1518px #FFF , 472px 1344px #FFF , 16px 591px #FFF , 118px 1552px #FFF , 977px 1089px #FFF , 1033px 1429px #FFF , 633px 1175px #FFF , 790px 1310px #FFF , 578px 610px #FFF , 1044px 1855px #FFF , 435px 433px #FFF , 931px 101px #FFF , 642px 708px #FFF , 813px 1506px #FFF , 429px 1339px #FFF , 1842px 1345px #FFF , 1040px 1805px #FFF , 978px 793px #FFF , 770px 207px #FFF , 1999px 817px #FFF , 42px 1127px #FFF , 1728px 1848px #FFF , 728px 1313px #FFF , 1611px 1669px #FFF , 1187px 1253px #FFF , 423px 672px #FFF , 1963px 1083px #FFF , 1287px 137px #FFF , 1635px 619px #FFF , 163px 1027px #FFF , 1891px 471px #FFF , 1947px 171px #FFF , 1466px 1091px #FFF , 1238px 236px #FFF , 744px 896px #FFF , 433px 1714px #FFF , 181px 1940px #FFF , 729px 1741px #FFF , 1904px 170px #FFF , 285px 21px #FFF , 1395px 621px #FFF , 800px 1434px #FFF , 1087px 1536px #FFF , 705px 70px #FFF , 651px 1846px #FFF , 1205px 512px #FFF , 535px 993px #FFF , 1866px 1852px #FFF , 301px 1323px #FFF , 1555px 1205px #FFF , 1702px 454px #FFF , 545px 1848px #FFF , 1195px 299px #FFF , 1948px 1763px #FFF , 703px 1418px #FFF , 1448px 1635px #FFF , 1081px 57px #FFF , 1107px 45px #FFF , 1990px 1703px #FFF , 518px 624px #FFF , 445px 1095px #FFF , 1228px 46px #FFF , 1602px 29px #FFF , 620px 1575px #FFF , 636px 267px #FFF , 1394px 494px #FFF , 1991px 1377px #FFF , 1294px 1711px #FFF , 1404px 604px #FFF , 1487px 1718px #FFF , 674px 1350px #FFF , 626px 853px #FFF , 76px 211px #FFF , 1043px 1935px #FFF , 956px 52px #FFF , 689px 1764px #FFF , 1759px 1600px #FFF , 341px 111px #FFF , 235px 1999px #FFF , 1407px 1352px #FFF , 194px 877px #FFF , 550px 1354px #FFF , 1465px 907px #FFF , 74px 1169px #FFF , 1948px 215px #FFF , 1524px 1166px #FFF , 1933px 1793px #FFF , 1851px 1470px #FFF , 1911px 578px #FFF , 1836px 895px #FFF , 621px 1936px #FFF , 1700px 481px #FFF , 294px 731px #FFF , 1597px 597px #FFF , 104px 1489px #FFF , 840px 1231px #FFF , 1147px 1274px #FFF , 1908px 807px #FFF , 99px 1012px #FFF , 1045px 1907px #FFF , 1792px 1231px #FFF , 1963px 1370px #FFF , 1801px 85px #FFF , 395px 1255px #FFF , 924px 940px #FFF , 500px 964px #FFF , 1540px 363px #FFF , 1881px 1627px #FFF , 207px 450px #FFF , 617px 262px #FFF , 474px 395px #FFF , 1059px 1744px #FFF , 348px 1113px #FFF , 1130px 1795px #FFF , 776px 1906px #FFF , 597px 517px #FFF , 1987px 513px #FFF , 1334px 1106px #FFF , 126px 1485px #FFF , 485px 1055px #FFF , 1813px 708px #FFF , 974px 1705px #FFF , 500px 1629px #FFF , 1101px 1399px #FFF , 1055px 1061px #FFF , 1844px 1784px #FFF , 171px 181px #FFF , 871px 684px #FFF , 207px 179px #FFF , 1470px 879px #FFF , 1531px 1207px #FFF , 1806px 1231px #FFF , 871px 1796px #FFF , 1354px 84px #FFF , 878px 967px #FFF , 551px 1491px #FFF , 236px 1971px #FFF , 953px 534px #FFF , 395px 317px #FFF , 1598px 1675px #FFF , 625px 112px #FFF , 907px 885px #FFF , 1707px 1507px #FFF , 271px 527px #FFF , 662px 793px #FFF , 770px 1551px #FFF , 180px 781px #FFF , 751px 1761px #FFF , 1089px 449px #FFF , 174px 1570px #FFF , 1238px 670px #FFF , 1621px 1812px #FFF , 359px 663px #FFF , 324px 857px #FFF , 790px 1650px #FFF , 247px 1347px #FFF , 1906px 963px #FFF , 502px 1600px #FFF , 1200px 377px #FFF , 1836px 211px #FFF , 30px 1792px #FFF , 1897px 422px #FFF , 589px 685px #FFF , 1003px 1672px #FFF , 22px 54px #FFF , 669px 170px #FFF , 1128px 1274px #FFF , 1733px 1175px #FFF , 1873px 1495px #FFF , 368px 1464px #FFF , 136px 1507px #FFF , 1755px 1193px #FFF , 253px 1506px #FFF , 1282px 560px #FFF , 1927px 768px #FFF , 565px 1536px #FFF , 555px 1065px #FFF , 644px 1640px #FFF , 1758px 400px #FFF , 1388px 1888px #FFF , 1098px 1391px #FFF , 1781px 1149px #FFF , 865px 1115px #FFF , 1276px 89px #FFF , 1237px 681px #FFF , 978px 1411px #FFF , 754px 1035px #FFF , 648px 1362px #FFF , 1209px 1277px #FFF , 208px 547px #FFF , 33px 1764px #FFF , 125px 325px #FFF , 960px 146px #FFF , 1104px 912px #FFF , 354px 1655px #FFF , 1188px 651px #FFF , 818px 1046px #FFF , 808px 1959px #FFF , 1899px 209px #FFF , 1806px 1542px #FFF , 796px 1513px #FFF , 1356px 1202px #FFF , 1880px 554px #FFF , 1771px 1817px #FFF , 1388px 1333px #FFF , 1793px 163px #FFF , 1778px 1178px #FFF , 332px 424px #FFF , 1033px 1877px #FFF , 1585px 257px #FFF , 237px 725px #FFF , 1989px 1290px #FFF , 927px 1600px #FFF , 1594px 377px #FFF , 1595px 623px #FFF , 723px 1069px #FFF , 278px 515px #FFF , 141px 861px #FFF , 1669px 839px #FFF , 1015px 1796px #FFF , 156px 660px #FFF , 1197px 1255px #FFF , 136px 1121px #FFF , 283px 280px #FFF , 291px 893px #FFF , 1183px 436px #FFF , 346px 934px #FFF , 1366px 1900px #FFF , 1026px 326px #FFF , 579px 504px #FFF , 1143px 1182px #FFF , 1050px 1592px #FFF , 39px 1824px #FFF , 1379px 565px #FFF , 1461px 571px #FFF , 388px 1977px #FFF , 39px 1444px #FFF , 745px 355px #FFF , 801px 936px #FFF , 1174px 1378px #FFF , 1414px 1959px #FFF , 756px 1302px #FFF , 1841px 1816px #FFF , 720px 1142px #FFF , 54px 1989px #FFF , 1743px 856px #FFF , 1186px 855px #FFF , 1483px 50px #FFF , 1341px 1272px #FFF , 677px 1631px #FFF , 1997px 1862px #FFF , 835px 805px #FFF , 442px 1401px #FFF , 116px 5px #FFF , 217px 1929px #FFF , 1894px 1173px #FFF , 1886px 421px #FFF , 294px 448px #FFF , 1896px 1595px #FFF , 243px 1311px #FFF , 1808px 1055px #FFF , 1167px 262px #FFF , 1117px 430px #FFF , 845px 1446px #FFF , 722px 148px #FFF , 1252px 1234px #FFF , 446px 1610px #FFF , 1668px 1633px #FFF , 798px 1682px #FFF , 1735px 869px #FFF , 668px 1003px #FFF , 519px 1836px #FFF , 1908px 1797px #FFF , 1752px 1274px #FFF , 1196px 1225px #FFF , 1905px 282px #FFF , 1264px 945px #FFF , 895px 52px #FFF , 993px 905px #FFF , 875px 1348px #FFF , 1280px 1871px #FFF , 1199px 1986px #FFF , 1214px 200px #FFF , 846px 1536px #FFF , 667px 1120px #FFF , 600px 1873px #FFF , 1923px 1488px #FFF , 568px 22px #FFF , 988px 701px #FFF , 1856px 130px #FFF , 644px 1784px #FFF , 1939px 1003px #FFF , 862px 933px #FFF , 1000px 1785px #FFF , 249px 282px #FFF , 1932px 492px #FFF , 1700px 1078px #FFF , 1789px 713px #FFF , 624px 858px #FFF , 81px 1684px #FFF , 813px 612px #FFF , 1064px 583px #FFF , 1853px 838px #FFF , 1732px 1182px #FFF , 1602px 1565px #FFF , 1342px 976px #FFF , 1257px 153px #FFF , 1006px 1426px #FFF , 1626px 601px #FFF , 381px 299px #FFF , 781px 1824px #FFF , 1589px 1324px #FFF , 623px 1104px #FFF , 659px 157px #FFF , 614px 1653px #FFF , 1270px 1120px #FFF , 790px 530px #FFF , 1132px 1449px #FFF , 134px 1408px #FFF , 122px 857px #FFF , 1454px 527px #FFF , 1770px 1476px #FFF , 414px 338px #FFF , 362px 1305px #FFF , 1672px 860px #FFF , 529px 1588px #FFF , 963px 748px #FFF , 758px 1273px #FFF , 433px 1967px #FFF , 398px 1730px #FFF , 1296px 1410px #FFF , 177px 1138px #FFF , 404px 1722px #FFF , 260px 1791px #FFF , 945px 1185px #FFF , 1299px 620px #FFF , 1808px 1912px #FFF , 304px 420px #FFF , 258px 383px #FFF , 675px 347px #FFF , 1630px 1808px #FFF , 833px 1480px #FFF , 1438px 1650px #FFF , 1233px 711px #FFF , 291px 1418px #FFF , 1867px 1146px #FFF , 1238px 225px #FFF , 1856px 305px #FFF , 1655px 1994px #FFF , 1998px 1955px #FFF , 1011px 1246px #FFF , 49px 1389px #FFF , 549px 441px #FFF , 717px 1505px #FFF , 1712px 905px #FFF , 1588px 1581px #FFF , 966px 90px #FFF , 753px 1822px #FFF , 90px 514px #FFF , 1464px 382px #FFF , 381px 1700px #FFF , 1859px 1614px #FFF , 1394px 1251px #FFF , 271px 116px #FFF , 1240px 1044px #FFF , 681px 600px #FFF , 421px 896px #FFF , 1514px 712px #FFF , 1490px 1346px #FFF , 497px 1513px #FFF , 263px 1212px #FFF , 555px 249px #FFF , 1618px 556px #FFF , 1293px 1084px #FFF , 1796px 200px #FFF , 1346px 415px #FFF , 216px 595px #FFF , 1923px 1524px #FFF , 329px 203px #FFF , 1760px 103px #FFF , 1987px 752px #FFF , 391px 470px #FFF , 475px 570px #FFF , 1315px 680px #FFF , 1489px 430px #FFF , 856px 1159px #FFF , 849px 947px #FFF , 100px 974px #FFF , 1642px 683px #FFF , 1521px 459px #FFF , 201px 1954px #FFF , 257px 641px #FFF , 443px 792px #FFF , 576px 1295px #FFF , 1273px 105px #FFF , 436px 966px #FFF , 1808px 1728px #FFF , 1826px 1459px #FFF , 1523px 910px #FFF , 824px 831px #FFF , 141px 1337px #FFF , 1456px 895px #FFF , 326px 1679px #FFF , 269px 605px #FFF , 1833px 581px #FFF , 91px 1562px #FFF , 1739px 320px #FFF , 1996px 1201px #FFF , 292px 1061px #FFF , 642px 1552px #FFF , 203px 1771px #FFF , 1447px 567px #FFF , 111px 1920px #FFF , 853px 1186px #FFF , 488px 1106px #FFF , 210px 669px #FFF , 1748px 1473px #FFF , 1364px 377px #FFF , 1930px 909px #FFF , 605px 1054px #FFF , 1164px 1697px #FFF , 1702px 171px #FFF , 1829px 1119px #FFF , 1996px 1538px #FFF , 33px 1190px #FFF , 1071px 992px #FFF , 1411px 240px #FFF , 1906px 1694px #FFF , 1874px 1242px #FFF , 218px 1903px #FFF , 1273px 1701px #FFF , 949px 1033px #FFF , 1755px 450px #FFF , 705px 112px #FFF , 974px 1585px #FFF , 1359px 1517px #FFF , 620px 174px #FFF , 1919px 1251px #FFF , 1769px 1908px #FFF , 1420px 1495px #FFF , 882px 1865px #FFF , 1246px 193px #FFF , 1250px 617px #FFF , 171px 332px #FFF , 713px 1946px #FFF , 166px 1012px #FFF , 1233px 1737px #FFF , 1566px 339px #FFF , 1022px 1603px #FFF , 406px 283px #FFF , 1170px 402px #FFF , 341px 523px #FFF , 595px 1462px #FFF , 764px 62px #FFF , 469px 1370px #FFF , 811px 1578px #FFF , 1285px 1432px #FFF , 227px 1975px #FFF , 138px 1361px #FFF , 772px 1874px #FFF , 652px 1901px #FFF , 697px 1453px #FFF , 649px 407px #FFF , 225px 1998px #FFF , 1150px 1465px #FFF , 1422px 834px #FFF , 476px 1879px #FFF , 1390px 1263px #FFF , 1904px 1049px #FFF , 1738px 674px #FFF , 52px 1151px #FFF , 222px 994px #FFF , 1426px 386px #FFF , 182px 1813px #FFF , 329px 909px #FFF , 1156px 1156px #FFF , 589px 657px #FFF , 898px 1490px #FFF , 1526px 1653px #FFF , 301px 1399px #FFF , 521px 1915px #FFF , 869px 1131px #FFF , 563px 1009px #FFF , 1140px 21px #FFF , 258px 642px #FFF , 294px 1047px #FFF , 498px 1752px #FFF , 1731px 1210px #FFF , 1373px 516px #FFF , 1349px 1903px #FFF , 1704px 427px #FFF , 417px 1895px #FFF , 1644px 1029px #FFF , 673px 1382px #FFF , 1638px 731px #FFF , 1104px 1721px #FFF , 1880px 262px #FFF , 338px 231px #FFF , 769px 1320px #FFF , 1645px 1047px #FFF , 1841px 930px #FFF , 894px 952px #FFF , 1371px 886px #FFF , 1090px 770px #FFF , 1706px 659px #FFF , 1090px 822px #FFF , 1868px 886px #FFF , 1820px 615px #FFF , 59px 1681px #FFF , 1835px 822px #FFF , 46px 670px #FFF , 1061px 190px #FFF , 1190px 1838px #FFF , 1083px 1683px #FFF , 469px 1876px #FFF , 1903px 842px #FFF , 1340px 270px #FFF , 390px 1948px #FFF , 720px 1895px #FFF , 1313px 1528px #FFF , 1155px 571px #FFF , 1917px 1833px #FFF , 679px 965px #FFF , 1173px 424px #FFF , 356px 1983px #FFF , 504px 1778px #FFF , 1895px 88px #FFF , 1593px 161px #FFF , 60px 202px #FFF , 1309px 1702px #FFF , 584px 1331px #FFF , 1046px 1585px #FFF , 525px 61px #FFF , 162px 1078px #FFF , 607px 1119px #FFF , 1810px 1286px #FFF , 1965px 88px #FFF , 1886px 451px #FFF , 1412px 324px #FFF , 821px 1535px #FFF , 734px 706px #FFF , 1742px 1609px #FFF , 1534px 1683px #FFF , 1510px 1364px #FFF , 1551px 1388px #FFF , 1099px 1159px #FFF , 1364px 1896px #FFF , 1325px 1578px #FFF , 1467px 1096px #FFF , 796px 1476px #FFF , 684px 1755px #FFF , 1969px 1453px #FFF , 1400px 287px #FFF , 979px 356px #FFF , 307px 81px #FFF , 268px 1366px #FFF , 782px 1360px #FFF , 1850px 89px #FFF , 1749px 1119px #FFF , 1058px 156px #FFF , 1024px 705px #FFF , 1915px 334px #FFF , 1139px 25px #FFF , 791px 1738px #FFF , 571px 839px #FFF , 1225px 1781px #FFF , 1921px 688px #FFF , 261px 1765px #FFF , 179px 1686px #FFF , 64px 1182px #FFF , 396px 1448px #FFF , 646px 199px #FFF , 1509px 1361px #FFF , 320px 265px #FFF , 1671px 1606px #FFF , 447px 82px #FFF , 1120px 347px #FFF , 1102px 1418px #FFF , 1340px 796px #FFF , 1458px 1771px #FFF , 1009px 1073px #FFF , 1361px 1472px #FFF , 632px 980px #FFF , 728px 185px #FFF , 1685px 823px #FFF , 1504px 100px #FFF , 396px 888px #FFF , 272px 141px #FFF , 842px 688px #FFF , 261px 570px #FFF , 226px 1134px #FFF , 1048px 1532px #FFF , 1115px 513px #FFF , 1280px 360px #FFF , 1337px 1579px #FFF , 511px 1370px #FFF , 87px 345px #FFF , 1587px 1237px #FFF , 1163px 828px #FFF , 897px 603px #FFF , 867px 1387px #FFF , 795px 1527px #FFF , 616px 1776px #FFF , 492px 153px #FFF , 376px 1527px #FFF , 1861px 334px #FFF , 1027px 1739px #FFF , 488px 1929px #FFF , 1038px 1882px #FFF , 1537px 1935px #FFF , 1044px 1363px #FFF , 1370px 914px #FFF , 1281px 129px #FFF , 1883px 98px #FFF , 1158px 951px #FFF , 1853px 916px #FFF , 560px 2px #FFF , 601px 441px #FFF , 1478px 1102px #FFF , 846px 1244px #FFF , 432px 161px #FFF , 454px 1706px #FFF , 1082px 1775px #FFF , 1292px 1469px #FFF , 1603px 762px #FFF , 1912px 345px #FFF , 1563px 92px #FFF , 149px 656px #FFF , 1200px 281px #FFF , 1609px 459px #FFF , 158px 502px #FFF , 1633px 1699px #FFF , 421px 1675px #FFF , 699px 973px #FFF , 1302px 965px #FFF , 789px 1131px #FFF , 633px 771px #FFF , 1559px 29px #FFF , 492px 1650px #FFF , 1613px 1583px #FFF , 1120px 518px #FFF , 888px 1868px #FFF , 894px 1349px #FFF , 1212px 1824px #FFF , 1179px 272px #FFF , 1222px 108px #FFF , 1189px 1772px #FFF , 1591px 875px #FFF , 457px 331px #FFF , 829px 1837px #FFF , 1943px 1825px #FFF , 556px 1725px #FFF , 665px 1033px #FFF , 868px 1963px #FFF , 884px 1870px #FFF , 862px 1444px #FFF , 1037px 1531px #FFF , 1548px 836px #FFF , 1812px 1193px #FFF , 695px 1735px #FFF , 164px 473px #FFF , 1883px 1619px #FFF;
  animation: animStar 50s linear infinite;
}
.stars #stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1687px 280px #FFF , 568px 1896px #FFF , 1242px 1368px #FFF , 1488px 1166px #FFF , 558px 1093px #FFF , 382px 1229px #FFF , 250px 470px #FFF , 1222px 482px #FFF , 157px 1238px #FFF , 551px 1692px #FFF , 42px 1066px #FFF , 220px 191px #FFF , 1118px 689px #FFF , 485px 703px #FFF , 317px 876px #FFF , 889px 463px #FFF , 1444px 1187px #FFF , 1348px 1806px #FFF , 1325px 135px #FFF , 1163px 1643px #FFF , 792px 185px #FFF , 62px 849px #FFF , 1942px 360px #FFF , 697px 109px #FFF , 561px 496px #FFF , 17px 1709px #FFF , 394px 1414px #FFF , 1243px 1090px #FFF , 1582px 1263px #FFF , 412px 81px #FFF , 1151px 1492px #FFF , 862px 1651px #FFF , 294px 1160px #FFF , 1759px 443px #FFF , 1266px 1304px #FFF , 759px 526px #FFF , 1128px 1716px #FFF , 1461px 85px #FFF , 1856px 1518px #FFF , 472px 1344px #FFF , 16px 591px #FFF , 118px 1552px #FFF , 977px 1089px #FFF , 1033px 1429px #FFF , 633px 1175px #FFF , 790px 1310px #FFF , 578px 610px #FFF , 1044px 1855px #FFF , 435px 433px #FFF , 931px 101px #FFF , 642px 708px #FFF , 813px 1506px #FFF , 429px 1339px #FFF , 1842px 1345px #FFF , 1040px 1805px #FFF , 978px 793px #FFF , 770px 207px #FFF , 1999px 817px #FFF , 42px 1127px #FFF , 1728px 1848px #FFF , 728px 1313px #FFF , 1611px 1669px #FFF , 1187px 1253px #FFF , 423px 672px #FFF , 1963px 1083px #FFF , 1287px 137px #FFF , 1635px 619px #FFF , 163px 1027px #FFF , 1891px 471px #FFF , 1947px 171px #FFF , 1466px 1091px #FFF , 1238px 236px #FFF , 744px 896px #FFF , 433px 1714px #FFF , 181px 1940px #FFF , 729px 1741px #FFF , 1904px 170px #FFF , 285px 21px #FFF , 1395px 621px #FFF , 800px 1434px #FFF , 1087px 1536px #FFF , 705px 70px #FFF , 651px 1846px #FFF , 1205px 512px #FFF , 535px 993px #FFF , 1866px 1852px #FFF , 301px 1323px #FFF , 1555px 1205px #FFF , 1702px 454px #FFF , 545px 1848px #FFF , 1195px 299px #FFF , 1948px 1763px #FFF , 703px 1418px #FFF , 1448px 1635px #FFF , 1081px 57px #FFF , 1107px 45px #FFF , 1990px 1703px #FFF , 518px 624px #FFF , 445px 1095px #FFF , 1228px 46px #FFF , 1602px 29px #FFF , 620px 1575px #FFF , 636px 267px #FFF , 1394px 494px #FFF , 1991px 1377px #FFF , 1294px 1711px #FFF , 1404px 604px #FFF , 1487px 1718px #FFF , 674px 1350px #FFF , 626px 853px #FFF , 76px 211px #FFF , 1043px 1935px #FFF , 956px 52px #FFF , 689px 1764px #FFF , 1759px 1600px #FFF , 341px 111px #FFF , 235px 1999px #FFF , 1407px 1352px #FFF , 194px 877px #FFF , 550px 1354px #FFF , 1465px 907px #FFF , 74px 1169px #FFF , 1948px 215px #FFF , 1524px 1166px #FFF , 1933px 1793px #FFF , 1851px 1470px #FFF , 1911px 578px #FFF , 1836px 895px #FFF , 621px 1936px #FFF , 1700px 481px #FFF , 294px 731px #FFF , 1597px 597px #FFF , 104px 1489px #FFF , 840px 1231px #FFF , 1147px 1274px #FFF , 1908px 807px #FFF , 99px 1012px #FFF , 1045px 1907px #FFF , 1792px 1231px #FFF , 1963px 1370px #FFF , 1801px 85px #FFF , 395px 1255px #FFF , 924px 940px #FFF , 500px 964px #FFF , 1540px 363px #FFF , 1881px 1627px #FFF , 207px 450px #FFF , 617px 262px #FFF , 474px 395px #FFF , 1059px 1744px #FFF , 348px 1113px #FFF , 1130px 1795px #FFF , 776px 1906px #FFF , 597px 517px #FFF , 1987px 513px #FFF , 1334px 1106px #FFF , 126px 1485px #FFF , 485px 1055px #FFF , 1813px 708px #FFF , 974px 1705px #FFF , 500px 1629px #FFF , 1101px 1399px #FFF , 1055px 1061px #FFF , 1844px 1784px #FFF , 171px 181px #FFF , 871px 684px #FFF , 207px 179px #FFF , 1470px 879px #FFF , 1531px 1207px #FFF , 1806px 1231px #FFF , 871px 1796px #FFF , 1354px 84px #FFF , 878px 967px #FFF , 551px 1491px #FFF , 236px 1971px #FFF , 953px 534px #FFF , 395px 317px #FFF , 1598px 1675px #FFF , 625px 112px #FFF , 907px 885px #FFF , 1707px 1507px #FFF , 271px 527px #FFF , 662px 793px #FFF , 770px 1551px #FFF , 180px 781px #FFF , 751px 1761px #FFF , 1089px 449px #FFF , 174px 1570px #FFF , 1238px 670px #FFF , 1621px 1812px #FFF , 359px 663px #FFF , 324px 857px #FFF , 790px 1650px #FFF , 247px 1347px #FFF , 1906px 963px #FFF , 502px 1600px #FFF , 1200px 377px #FFF , 1836px 211px #FFF , 30px 1792px #FFF , 1897px 422px #FFF , 589px 685px #FFF , 1003px 1672px #FFF , 22px 54px #FFF , 669px 170px #FFF , 1128px 1274px #FFF , 1733px 1175px #FFF , 1873px 1495px #FFF , 368px 1464px #FFF , 136px 1507px #FFF , 1755px 1193px #FFF , 253px 1506px #FFF , 1282px 560px #FFF , 1927px 768px #FFF , 565px 1536px #FFF , 555px 1065px #FFF , 644px 1640px #FFF , 1758px 400px #FFF , 1388px 1888px #FFF , 1098px 1391px #FFF , 1781px 1149px #FFF , 865px 1115px #FFF , 1276px 89px #FFF , 1237px 681px #FFF , 978px 1411px #FFF , 754px 1035px #FFF , 648px 1362px #FFF , 1209px 1277px #FFF , 208px 547px #FFF , 33px 1764px #FFF , 125px 325px #FFF , 960px 146px #FFF , 1104px 912px #FFF , 354px 1655px #FFF , 1188px 651px #FFF , 818px 1046px #FFF , 808px 1959px #FFF , 1899px 209px #FFF , 1806px 1542px #FFF , 796px 1513px #FFF , 1356px 1202px #FFF , 1880px 554px #FFF , 1771px 1817px #FFF , 1388px 1333px #FFF , 1793px 163px #FFF , 1778px 1178px #FFF , 332px 424px #FFF , 1033px 1877px #FFF , 1585px 257px #FFF , 237px 725px #FFF , 1989px 1290px #FFF , 927px 1600px #FFF , 1594px 377px #FFF , 1595px 623px #FFF , 723px 1069px #FFF , 278px 515px #FFF , 141px 861px #FFF , 1669px 839px #FFF , 1015px 1796px #FFF , 156px 660px #FFF , 1197px 1255px #FFF , 136px 1121px #FFF , 283px 280px #FFF , 291px 893px #FFF , 1183px 436px #FFF , 346px 934px #FFF , 1366px 1900px #FFF , 1026px 326px #FFF , 579px 504px #FFF , 1143px 1182px #FFF , 1050px 1592px #FFF , 39px 1824px #FFF , 1379px 565px #FFF , 1461px 571px #FFF , 388px 1977px #FFF , 39px 1444px #FFF , 745px 355px #FFF , 801px 936px #FFF , 1174px 1378px #FFF , 1414px 1959px #FFF , 756px 1302px #FFF , 1841px 1816px #FFF , 720px 1142px #FFF , 54px 1989px #FFF , 1743px 856px #FFF , 1186px 855px #FFF , 1483px 50px #FFF , 1341px 1272px #FFF , 677px 1631px #FFF , 1997px 1862px #FFF , 835px 805px #FFF , 442px 1401px #FFF , 116px 5px #FFF , 217px 1929px #FFF , 1894px 1173px #FFF , 1886px 421px #FFF , 294px 448px #FFF , 1896px 1595px #FFF , 243px 1311px #FFF , 1808px 1055px #FFF , 1167px 262px #FFF , 1117px 430px #FFF , 845px 1446px #FFF , 722px 148px #FFF , 1252px 1234px #FFF , 446px 1610px #FFF , 1668px 1633px #FFF , 798px 1682px #FFF , 1735px 869px #FFF , 668px 1003px #FFF , 519px 1836px #FFF , 1908px 1797px #FFF , 1752px 1274px #FFF , 1196px 1225px #FFF , 1905px 282px #FFF , 1264px 945px #FFF , 895px 52px #FFF , 993px 905px #FFF , 875px 1348px #FFF , 1280px 1871px #FFF , 1199px 1986px #FFF , 1214px 200px #FFF , 846px 1536px #FFF , 667px 1120px #FFF , 600px 1873px #FFF , 1923px 1488px #FFF , 568px 22px #FFF , 988px 701px #FFF , 1856px 130px #FFF , 644px 1784px #FFF , 1939px 1003px #FFF , 862px 933px #FFF , 1000px 1785px #FFF , 249px 282px #FFF , 1932px 492px #FFF , 1700px 1078px #FFF , 1789px 713px #FFF , 624px 858px #FFF , 81px 1684px #FFF , 813px 612px #FFF , 1064px 583px #FFF , 1853px 838px #FFF , 1732px 1182px #FFF , 1602px 1565px #FFF , 1342px 976px #FFF , 1257px 153px #FFF , 1006px 1426px #FFF , 1626px 601px #FFF , 381px 299px #FFF , 781px 1824px #FFF , 1589px 1324px #FFF , 623px 1104px #FFF , 659px 157px #FFF , 614px 1653px #FFF , 1270px 1120px #FFF , 790px 530px #FFF , 1132px 1449px #FFF , 134px 1408px #FFF , 122px 857px #FFF , 1454px 527px #FFF , 1770px 1476px #FFF , 414px 338px #FFF , 362px 1305px #FFF , 1672px 860px #FFF , 529px 1588px #FFF , 963px 748px #FFF , 758px 1273px #FFF , 433px 1967px #FFF , 398px 1730px #FFF , 1296px 1410px #FFF , 177px 1138px #FFF , 404px 1722px #FFF , 260px 1791px #FFF , 945px 1185px #FFF , 1299px 620px #FFF , 1808px 1912px #FFF , 304px 420px #FFF , 258px 383px #FFF , 675px 347px #FFF , 1630px 1808px #FFF , 833px 1480px #FFF , 1438px 1650px #FFF , 1233px 711px #FFF , 291px 1418px #FFF , 1867px 1146px #FFF , 1238px 225px #FFF , 1856px 305px #FFF , 1655px 1994px #FFF , 1998px 1955px #FFF , 1011px 1246px #FFF , 49px 1389px #FFF , 549px 441px #FFF , 717px 1505px #FFF , 1712px 905px #FFF , 1588px 1581px #FFF , 966px 90px #FFF , 753px 1822px #FFF , 90px 514px #FFF , 1464px 382px #FFF , 381px 1700px #FFF , 1859px 1614px #FFF , 1394px 1251px #FFF , 271px 116px #FFF , 1240px 1044px #FFF , 681px 600px #FFF , 421px 896px #FFF , 1514px 712px #FFF , 1490px 1346px #FFF , 497px 1513px #FFF , 263px 1212px #FFF , 555px 249px #FFF , 1618px 556px #FFF , 1293px 1084px #FFF , 1796px 200px #FFF , 1346px 415px #FFF , 216px 595px #FFF , 1923px 1524px #FFF , 329px 203px #FFF , 1760px 103px #FFF , 1987px 752px #FFF , 391px 470px #FFF , 475px 570px #FFF , 1315px 680px #FFF , 1489px 430px #FFF , 856px 1159px #FFF , 849px 947px #FFF , 100px 974px #FFF , 1642px 683px #FFF , 1521px 459px #FFF , 201px 1954px #FFF , 257px 641px #FFF , 443px 792px #FFF , 576px 1295px #FFF , 1273px 105px #FFF , 436px 966px #FFF , 1808px 1728px #FFF , 1826px 1459px #FFF , 1523px 910px #FFF , 824px 831px #FFF , 141px 1337px #FFF , 1456px 895px #FFF , 326px 1679px #FFF , 269px 605px #FFF , 1833px 581px #FFF , 91px 1562px #FFF , 1739px 320px #FFF , 1996px 1201px #FFF , 292px 1061px #FFF , 642px 1552px #FFF , 203px 1771px #FFF , 1447px 567px #FFF , 111px 1920px #FFF , 853px 1186px #FFF , 488px 1106px #FFF , 210px 669px #FFF , 1748px 1473px #FFF , 1364px 377px #FFF , 1930px 909px #FFF , 605px 1054px #FFF , 1164px 1697px #FFF , 1702px 171px #FFF , 1829px 1119px #FFF , 1996px 1538px #FFF , 33px 1190px #FFF , 1071px 992px #FFF , 1411px 240px #FFF , 1906px 1694px #FFF , 1874px 1242px #FFF , 218px 1903px #FFF , 1273px 1701px #FFF , 949px 1033px #FFF , 1755px 450px #FFF , 705px 112px #FFF , 974px 1585px #FFF , 1359px 1517px #FFF , 620px 174px #FFF , 1919px 1251px #FFF , 1769px 1908px #FFF , 1420px 1495px #FFF , 882px 1865px #FFF , 1246px 193px #FFF , 1250px 617px #FFF , 171px 332px #FFF , 713px 1946px #FFF , 166px 1012px #FFF , 1233px 1737px #FFF , 1566px 339px #FFF , 1022px 1603px #FFF , 406px 283px #FFF , 1170px 402px #FFF , 341px 523px #FFF , 595px 1462px #FFF , 764px 62px #FFF , 469px 1370px #FFF , 811px 1578px #FFF , 1285px 1432px #FFF , 227px 1975px #FFF , 138px 1361px #FFF , 772px 1874px #FFF , 652px 1901px #FFF , 697px 1453px #FFF , 649px 407px #FFF , 225px 1998px #FFF , 1150px 1465px #FFF , 1422px 834px #FFF , 476px 1879px #FFF , 1390px 1263px #FFF , 1904px 1049px #FFF , 1738px 674px #FFF , 52px 1151px #FFF , 222px 994px #FFF , 1426px 386px #FFF , 182px 1813px #FFF , 329px 909px #FFF , 1156px 1156px #FFF , 589px 657px #FFF , 898px 1490px #FFF , 1526px 1653px #FFF , 301px 1399px #FFF , 521px 1915px #FFF , 869px 1131px #FFF , 563px 1009px #FFF , 1140px 21px #FFF , 258px 642px #FFF , 294px 1047px #FFF , 498px 1752px #FFF , 1731px 1210px #FFF , 1373px 516px #FFF , 1349px 1903px #FFF , 1704px 427px #FFF , 417px 1895px #FFF , 1644px 1029px #FFF , 673px 1382px #FFF , 1638px 731px #FFF , 1104px 1721px #FFF , 1880px 262px #FFF , 338px 231px #FFF , 769px 1320px #FFF , 1645px 1047px #FFF , 1841px 930px #FFF , 894px 952px #FFF , 1371px 886px #FFF , 1090px 770px #FFF , 1706px 659px #FFF , 1090px 822px #FFF , 1868px 886px #FFF , 1820px 615px #FFF , 59px 1681px #FFF , 1835px 822px #FFF , 46px 670px #FFF , 1061px 190px #FFF , 1190px 1838px #FFF , 1083px 1683px #FFF , 469px 1876px #FFF , 1903px 842px #FFF , 1340px 270px #FFF , 390px 1948px #FFF , 720px 1895px #FFF , 1313px 1528px #FFF , 1155px 571px #FFF , 1917px 1833px #FFF , 679px 965px #FFF , 1173px 424px #FFF , 356px 1983px #FFF , 504px 1778px #FFF , 1895px 88px #FFF , 1593px 161px #FFF , 60px 202px #FFF , 1309px 1702px #FFF , 584px 1331px #FFF , 1046px 1585px #FFF , 525px 61px #FFF , 162px 1078px #FFF , 607px 1119px #FFF , 1810px 1286px #FFF , 1965px 88px #FFF , 1886px 451px #FFF , 1412px 324px #FFF , 821px 1535px #FFF , 734px 706px #FFF , 1742px 1609px #FFF , 1534px 1683px #FFF , 1510px 1364px #FFF , 1551px 1388px #FFF , 1099px 1159px #FFF , 1364px 1896px #FFF , 1325px 1578px #FFF , 1467px 1096px #FFF , 796px 1476px #FFF , 684px 1755px #FFF , 1969px 1453px #FFF , 1400px 287px #FFF , 979px 356px #FFF , 307px 81px #FFF , 268px 1366px #FFF , 782px 1360px #FFF , 1850px 89px #FFF , 1749px 1119px #FFF , 1058px 156px #FFF , 1024px 705px #FFF , 1915px 334px #FFF , 1139px 25px #FFF , 791px 1738px #FFF , 571px 839px #FFF , 1225px 1781px #FFF , 1921px 688px #FFF , 261px 1765px #FFF , 179px 1686px #FFF , 64px 1182px #FFF , 396px 1448px #FFF , 646px 199px #FFF , 1509px 1361px #FFF , 320px 265px #FFF , 1671px 1606px #FFF , 447px 82px #FFF , 1120px 347px #FFF , 1102px 1418px #FFF , 1340px 796px #FFF , 1458px 1771px #FFF , 1009px 1073px #FFF , 1361px 1472px #FFF , 632px 980px #FFF , 728px 185px #FFF , 1685px 823px #FFF , 1504px 100px #FFF , 396px 888px #FFF , 272px 141px #FFF , 842px 688px #FFF , 261px 570px #FFF , 226px 1134px #FFF , 1048px 1532px #FFF , 1115px 513px #FFF , 1280px 360px #FFF , 1337px 1579px #FFF , 511px 1370px #FFF , 87px 345px #FFF , 1587px 1237px #FFF , 1163px 828px #FFF , 897px 603px #FFF , 867px 1387px #FFF , 795px 1527px #FFF , 616px 1776px #FFF , 492px 153px #FFF , 376px 1527px #FFF , 1861px 334px #FFF , 1027px 1739px #FFF , 488px 1929px #FFF , 1038px 1882px #FFF , 1537px 1935px #FFF , 1044px 1363px #FFF , 1370px 914px #FFF , 1281px 129px #FFF , 1883px 98px #FFF , 1158px 951px #FFF , 1853px 916px #FFF , 560px 2px #FFF , 601px 441px #FFF , 1478px 1102px #FFF , 846px 1244px #FFF , 432px 161px #FFF , 454px 1706px #FFF , 1082px 1775px #FFF , 1292px 1469px #FFF , 1603px 762px #FFF , 1912px 345px #FFF , 1563px 92px #FFF , 149px 656px #FFF , 1200px 281px #FFF , 1609px 459px #FFF , 158px 502px #FFF , 1633px 1699px #FFF , 421px 1675px #FFF , 699px 973px #FFF , 1302px 965px #FFF , 789px 1131px #FFF , 633px 771px #FFF , 1559px 29px #FFF , 492px 1650px #FFF , 1613px 1583px #FFF , 1120px 518px #FFF , 888px 1868px #FFF , 894px 1349px #FFF , 1212px 1824px #FFF , 1179px 272px #FFF , 1222px 108px #FFF , 1189px 1772px #FFF , 1591px 875px #FFF , 457px 331px #FFF , 829px 1837px #FFF , 1943px 1825px #FFF , 556px 1725px #FFF , 665px 1033px #FFF , 868px 1963px #FFF , 884px 1870px #FFF , 862px 1444px #FFF , 1037px 1531px #FFF , 1548px 836px #FFF , 1812px 1193px #FFF , 695px 1735px #FFF , 164px 473px #FFF , 1883px 1619px #FFF;
}

.stars #stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 636px 441px #FFF , 1993px 1086px #FFF , 1489px 1637px #FFF , 1814px 1516px #FFF , 414px 188px #FFF , 207px 1926px #FFF , 366px 229px #FFF , 295px 1605px #FFF , 1310px 1215px #FFF , 616px 880px #FFF , 1677px 1671px #FFF , 118px 1533px #FFF , 337px 794px #FFF , 1770px 73px #FFF , 409px 882px #FFF , 1454px 1480px #FFF , 976px 1055px #FFF , 1760px 904px #FFF , 261px 1393px #FFF , 383px 254px #FFF , 529px 258px #FFF , 609px 713px #FFF , 949px 1510px #FFF , 1139px 483px #FFF , 1429px 476px #FFF , 267px 1858px #FFF , 601px 1093px #FFF , 1252px 18px #FFF , 612px 1701px #FFF , 584px 1350px #FFF , 714px 837px #FFF , 1687px 1487px #FFF , 922px 238px #FFF , 1725px 165px #FFF , 93px 1711px #FFF , 1443px 831px #FFF , 1044px 374px #FFF , 394px 518px #FFF , 390px 900px #FFF , 1457px 441px #FFF , 1242px 1706px #FFF , 1233px 1089px #FFF , 1757px 49px #FFF , 989px 1880px #FFF , 896px 1948px #FFF , 1045px 942px #FFF , 819px 1241px #FFF , 1317px 1546px #FFF , 952px 1961px #FFF , 1670px 663px #FFF , 1463px 1430px #FFF , 67px 1027px #FFF , 517px 1767px #FFF , 1691px 1805px #FFF , 780px 959px #FFF , 1069px 1372px #FFF , 1473px 1385px #FFF , 65px 1572px #FFF , 281px 414px #FFF , 1138px 1956px #FFF , 441px 1922px #FFF , 352px 425px #FFF , 188px 111px #FFF , 970px 903px #FFF , 35px 413px #FFF , 373px 1339px #FFF , 1592px 788px #FFF , 373px 580px #FFF , 1173px 1138px #FFF , 1445px 1926px #FFF , 939px 999px #FFF , 832px 588px #FFF , 614px 97px #FFF , 1824px 245px #FFF , 84px 1100px #FFF , 250px 1103px #FFF , 451px 696px #FFF , 1994px 1008px #FFF , 1277px 332px #FFF , 636px 1113px #FFF , 828px 175px #FFF , 1899px 487px #FFF , 1765px 1515px #FFF , 717px 160px #FFF , 683px 147px #FFF , 65px 100px #FFF , 755px 1232px #FFF , 1457px 1838px #FFF , 1268px 634px #FFF , 509px 535px #FFF , 1385px 583px #FFF , 675px 1146px #FFF , 1992px 902px #FFF , 862px 240px #FFF , 278px 1989px #FFF , 1303px 685px #FFF , 1355px 14px #FFF , 1642px 102px #FFF , 1464px 394px #FFF , 505px 355px #FFF , 970px 1844px #FFF , 1509px 1019px #FFF , 1982px 314px #FFF , 1769px 713px #FFF , 962px 1655px #FFF , 1303px 1748px #FFF , 1100px 1603px #FFF , 1092px 982px #FFF , 2px 517px #FFF , 1538px 1621px #FFF , 1229px 1632px #FFF , 479px 232px #FFF , 1702px 1676px #FFF , 645px 2px #FFF , 953px 567px #FFF , 1445px 388px #FFF , 743px 1857px #FFF , 823px 1732px #FFF , 645px 973px #FFF , 1843px 1882px #FFF , 1872px 134px #FFF , 282px 1587px #FFF , 826px 1286px #FFF , 1262px 1951px #FFF , 1634px 1825px #FFF , 981px 1697px #FFF , 8px 212px #FFF , 216px 545px #FFF , 637px 906px #FFF , 75px 1096px #FFF , 1035px 109px #FFF , 599px 796px #FFF , 1749px 986px #FFF , 352px 82px #FFF , 1101px 1278px #FFF , 1088px 32px #FFF , 840px 911px #FFF , 514px 1247px #FFF , 262px 1255px #FFF , 1809px 810px #FFF , 1703px 1388px #FFF , 1514px 92px #FFF , 1504px 70px #FFF , 414px 1165px #FFF , 1012px 142px #FFF , 216px 569px #FFF , 1315px 898px #FFF , 423px 1237px #FFF , 1029px 287px #FFF , 1814px 452px #FFF , 119px 472px #FFF , 908px 150px #FFF , 1138px 1424px #FFF , 175px 1400px #FFF , 794px 1839px #FFF , 113px 1025px #FFF , 1177px 796px #FFF , 201px 633px #FFF , 1735px 1293px #FFF , 1473px 64px #FFF , 438px 1638px #FFF , 1355px 863px #FFF , 1156px 1723px #FFF , 1433px 1558px #FFF , 1002px 685px #FFF , 857px 1396px #FFF , 1705px 1277px #FFF , 764px 1599px #FFF , 345px 88px #FFF , 879px 1819px #FFF , 1220px 1553px #FFF , 1359px 380px #FFF , 1290px 1692px #FFF , 7px 1714px #FFF , 1095px 1553px #FFF , 481px 1494px #FFF , 93px 810px #FFF , 639px 1958px #FFF , 1143px 207px #FFF , 580px 218px #FFF , 5px 211px #FFF , 1188px 1699px #FFF , 932px 1727px #FFF , 747px 266px #FFF , 1496px 594px #FFF , 108px 1073px #FFF , 801px 1955px #FFF , 858px 1827px #FFF , 856px 1781px #FFF , 276px 1237px #FFF , 681px 144px #FFF , 1041px 1031px #FFF , 573px 1348px #FFF , 219px 1701px #FFF , 773px 1512px #FFF , 1654px 908px #FFF , 1499px 1582px #FFF , 1700px 1524px #FFF , 1900px 750px #FFF , 1750px 1386px #FFF;
  animation: animStar 100s linear infinite;
}
.stars #stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 636px 441px #FFF , 1993px 1086px #FFF , 1489px 1637px #FFF , 1814px 1516px #FFF , 414px 188px #FFF , 207px 1926px #FFF , 366px 229px #FFF , 295px 1605px #FFF , 1310px 1215px #FFF , 616px 880px #FFF , 1677px 1671px #FFF , 118px 1533px #FFF , 337px 794px #FFF , 1770px 73px #FFF , 409px 882px #FFF , 1454px 1480px #FFF , 976px 1055px #FFF , 1760px 904px #FFF , 261px 1393px #FFF , 383px 254px #FFF , 529px 258px #FFF , 609px 713px #FFF , 949px 1510px #FFF , 1139px 483px #FFF , 1429px 476px #FFF , 267px 1858px #FFF , 601px 1093px #FFF , 1252px 18px #FFF , 612px 1701px #FFF , 584px 1350px #FFF , 714px 837px #FFF , 1687px 1487px #FFF , 922px 238px #FFF , 1725px 165px #FFF , 93px 1711px #FFF , 1443px 831px #FFF , 1044px 374px #FFF , 394px 518px #FFF , 390px 900px #FFF , 1457px 441px #FFF , 1242px 1706px #FFF , 1233px 1089px #FFF , 1757px 49px #FFF , 989px 1880px #FFF , 896px 1948px #FFF , 1045px 942px #FFF , 819px 1241px #FFF , 1317px 1546px #FFF , 952px 1961px #FFF , 1670px 663px #FFF , 1463px 1430px #FFF , 67px 1027px #FFF , 517px 1767px #FFF , 1691px 1805px #FFF , 780px 959px #FFF , 1069px 1372px #FFF , 1473px 1385px #FFF , 65px 1572px #FFF , 281px 414px #FFF , 1138px 1956px #FFF , 441px 1922px #FFF , 352px 425px #FFF , 188px 111px #FFF , 970px 903px #FFF , 35px 413px #FFF , 373px 1339px #FFF , 1592px 788px #FFF , 373px 580px #FFF , 1173px 1138px #FFF , 1445px 1926px #FFF , 939px 999px #FFF , 832px 588px #FFF , 614px 97px #FFF , 1824px 245px #FFF , 84px 1100px #FFF , 250px 1103px #FFF , 451px 696px #FFF , 1994px 1008px #FFF , 1277px 332px #FFF , 636px 1113px #FFF , 828px 175px #FFF , 1899px 487px #FFF , 1765px 1515px #FFF , 717px 160px #FFF , 683px 147px #FFF , 65px 100px #FFF , 755px 1232px #FFF , 1457px 1838px #FFF , 1268px 634px #FFF , 509px 535px #FFF , 1385px 583px #FFF , 675px 1146px #FFF , 1992px 902px #FFF , 862px 240px #FFF , 278px 1989px #FFF , 1303px 685px #FFF , 1355px 14px #FFF , 1642px 102px #FFF , 1464px 394px #FFF , 505px 355px #FFF , 970px 1844px #FFF , 1509px 1019px #FFF , 1982px 314px #FFF , 1769px 713px #FFF , 962px 1655px #FFF , 1303px 1748px #FFF , 1100px 1603px #FFF , 1092px 982px #FFF , 2px 517px #FFF , 1538px 1621px #FFF , 1229px 1632px #FFF , 479px 232px #FFF , 1702px 1676px #FFF , 645px 2px #FFF , 953px 567px #FFF , 1445px 388px #FFF , 743px 1857px #FFF , 823px 1732px #FFF , 645px 973px #FFF , 1843px 1882px #FFF , 1872px 134px #FFF , 282px 1587px #FFF , 826px 1286px #FFF , 1262px 1951px #FFF , 1634px 1825px #FFF , 981px 1697px #FFF , 8px 212px #FFF , 216px 545px #FFF , 637px 906px #FFF , 75px 1096px #FFF , 1035px 109px #FFF , 599px 796px #FFF , 1749px 986px #FFF , 352px 82px #FFF , 1101px 1278px #FFF , 1088px 32px #FFF , 840px 911px #FFF , 514px 1247px #FFF , 262px 1255px #FFF , 1809px 810px #FFF , 1703px 1388px #FFF , 1514px 92px #FFF , 1504px 70px #FFF , 414px 1165px #FFF , 1012px 142px #FFF , 216px 569px #FFF , 1315px 898px #FFF , 423px 1237px #FFF , 1029px 287px #FFF , 1814px 452px #FFF , 119px 472px #FFF , 908px 150px #FFF , 1138px 1424px #FFF , 175px 1400px #FFF , 794px 1839px #FFF , 113px 1025px #FFF , 1177px 796px #FFF , 201px 633px #FFF , 1735px 1293px #FFF , 1473px 64px #FFF , 438px 1638px #FFF , 1355px 863px #FFF , 1156px 1723px #FFF , 1433px 1558px #FFF , 1002px 685px #FFF , 857px 1396px #FFF , 1705px 1277px #FFF , 764px 1599px #FFF , 345px 88px #FFF , 879px 1819px #FFF , 1220px 1553px #FFF , 1359px 380px #FFF , 1290px 1692px #FFF , 7px 1714px #FFF , 1095px 1553px #FFF , 481px 1494px #FFF , 93px 810px #FFF , 639px 1958px #FFF , 1143px 207px #FFF , 580px 218px #FFF , 5px 211px #FFF , 1188px 1699px #FFF , 932px 1727px #FFF , 747px 266px #FFF , 1496px 594px #FFF , 108px 1073px #FFF , 801px 1955px #FFF , 858px 1827px #FFF , 856px 1781px #FFF , 276px 1237px #FFF , 681px 144px #FFF , 1041px 1031px #FFF , 573px 1348px #FFF , 219px 1701px #FFF , 773px 1512px #FFF , 1654px 908px #FFF , 1499px 1582px #FFF , 1700px 1524px #FFF , 1900px 750px #FFF , 1750px 1386px #FFF;
}

.stars #stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 25px 392px #FFF , 1854px 75px #FFF , 938px 698px #FFF , 764px 1848px #FFF , 677px 524px #FFF , 344px 1452px #FFF , 1485px 937px #FFF , 540px 300px #FFF , 1497px 148px #FFF , 1717px 1481px #FFF , 672px 140px #FFF , 197px 12px #FFF , 1315px 519px #FFF , 86px 848px #FFF , 1084px 991px #FFF , 871px 1932px #FFF , 251px 1527px #FFF , 806px 1024px #FFF , 800px 1950px #FFF , 1389px 1198px #FFF , 1518px 577px #FFF , 884px 1910px #FFF , 1871px 1919px #FFF , 533px 1786px #FFF , 1023px 307px #FFF , 865px 1486px #FFF , 861px 915px #FFF , 107px 165px #FFF , 1649px 1889px #FFF , 657px 157px #FFF , 1374px 1531px #FFF , 1921px 999px #FFF , 1785px 791px #FFF , 353px 1839px #FFF , 1949px 125px #FFF , 650px 883px #FFF , 1505px 261px #FFF , 1908px 442px #FFF , 812px 1619px #FFF , 473px 177px #FFF , 1760px 146px #FFF , 351px 1663px #FFF , 1895px 1868px #FFF , 837px 108px #FFF , 297px 516px #FFF , 697px 455px #FFF , 1141px 1329px #FFF , 1028px 424px #FFF , 119px 1976px #FFF , 1722px 1429px #FFF , 1986px 1051px #FFF , 1397px 387px #FFF , 1173px 1520px #FFF , 1082px 545px #FFF , 1765px 1048px #FFF , 604px 193px #FFF , 127px 1104px #FFF , 518px 1407px #FFF , 1407px 798px #FFF , 397px 1370px #FFF , 549px 510px #FFF , 426px 1136px #FFF , 452px 803px #FFF , 1680px 1782px #FFF , 1051px 1791px #FFF , 954px 512px #FFF , 1209px 69px #FFF , 1896px 1353px #FFF , 1623px 213px #FFF , 949px 1608px #FFF , 1447px 1023px #FFF , 815px 1797px #FFF , 1514px 1291px #FFF , 458px 1698px #FFF , 1934px 10px #FFF , 113px 1947px #FFF , 496px 1628px #FFF , 579px 1877px #FFF , 1911px 1990px #FFF , 745px 234px #FFF , 1178px 1782px #FFF , 367px 126px #FFF , 1617px 1937px #FFF , 715px 1160px #FFF , 1061px 1277px #FFF , 50px 561px #FFF , 603px 1536px #FFF , 1093px 492px #FFF , 861px 1636px #FFF , 1527px 1894px #FFF , 1777px 619px #FFF , 817px 5px #FFF , 251px 165px #FFF , 1902px 422px #FFF , 915px 640px #FFF , 51px 1124px #FFF , 21px 1645px #FFF , 738px 1283px #FFF , 1732px 495px #FFF , 141px 1548px #FFF;
  animation: animStar 150s linear infinite;
}
.stars #stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 25px 392px #FFF , 1854px 75px #FFF , 938px 698px #FFF , 764px 1848px #FFF , 677px 524px #FFF , 344px 1452px #FFF , 1485px 937px #FFF , 540px 300px #FFF , 1497px 148px #FFF , 1717px 1481px #FFF , 672px 140px #FFF , 197px 12px #FFF , 1315px 519px #FFF , 86px 848px #FFF , 1084px 991px #FFF , 871px 1932px #FFF , 251px 1527px #FFF , 806px 1024px #FFF , 800px 1950px #FFF , 1389px 1198px #FFF , 1518px 577px #FFF , 884px 1910px #FFF , 1871px 1919px #FFF , 533px 1786px #FFF , 1023px 307px #FFF , 865px 1486px #FFF , 861px 915px #FFF , 107px 165px #FFF , 1649px 1889px #FFF , 657px 157px #FFF , 1374px 1531px #FFF , 1921px 999px #FFF , 1785px 791px #FFF , 353px 1839px #FFF , 1949px 125px #FFF , 650px 883px #FFF , 1505px 261px #FFF , 1908px 442px #FFF , 812px 1619px #FFF , 473px 177px #FFF , 1760px 146px #FFF , 351px 1663px #FFF , 1895px 1868px #FFF , 837px 108px #FFF , 297px 516px #FFF , 697px 455px #FFF , 1141px 1329px #FFF , 1028px 424px #FFF , 119px 1976px #FFF , 1722px 1429px #FFF , 1986px 1051px #FFF , 1397px 387px #FFF , 1173px 1520px #FFF , 1082px 545px #FFF , 1765px 1048px #FFF , 604px 193px #FFF , 127px 1104px #FFF , 518px 1407px #FFF , 1407px 798px #FFF , 397px 1370px #FFF , 549px 510px #FFF , 426px 1136px #FFF , 452px 803px #FFF , 1680px 1782px #FFF , 1051px 1791px #FFF , 954px 512px #FFF , 1209px 69px #FFF , 1896px 1353px #FFF , 1623px 213px #FFF , 949px 1608px #FFF , 1447px 1023px #FFF , 815px 1797px #FFF , 1514px 1291px #FFF , 458px 1698px #FFF , 1934px 10px #FFF , 113px 1947px #FFF , 496px 1628px #FFF , 579px 1877px #FFF , 1911px 1990px #FFF , 745px 234px #FFF , 1178px 1782px #FFF , 367px 126px #FFF , 1617px 1937px #FFF , 715px 1160px #FFF , 1061px 1277px #FFF , 50px 561px #FFF , 603px 1536px #FFF , 1093px 492px #FFF , 861px 1636px #FFF , 1527px 1894px #FFF , 1777px 619px #FFF , 817px 5px #FFF , 251px 165px #FFF , 1902px 422px #FFF , 915px 640px #FFF , 51px 1124px #FFF , 21px 1645px #FFF , 738px 1283px #FFF , 1732px 495px #FFF , 141px 1548px #FFF;
} */

#title {
  position: absolute;
  top: calc(50% - 50px);
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 80px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

#horizon {
  position: absolute;
  width: 160%;
  height: 70%;
  border-radius: 100%/100%;
  background: #038bff;
  -webkit-filter: blur(30px);
  left: 50%;
  bottom: -20%;
  margin-left: -80%;
}
#horizon:before {
  content: " ";
  position: absolute;
  width: 81.25%;
  height: 70%;
  border-radius: 100%/100%;
  background: #51AFFF;
  -webkit-filter: blur(30px);
  opacity: 0.6;
  margin-left: 9.375%;
}
#horizon:after {
  content: " ";
  position: absolute;
  width: 32%;
  height: 20%;
  border-radius: 650px/350px;
  background: #B0DAFF;
  -webkit-filter: blur(30px);
  opacity: 0.5;
  margin-left: 34%;
}
#horizon .glow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%/100%;
  background: #215496;
  -webkit-filter: blur(200px);
  opacity: 0.7;
  top: -10%;
}

#earth {
  position: absolute;
  width: 200%;
  height: 100%;
  background: black;
  border-radius: 100%/100%;
  left: 50%;
  bottom: -50%;
  margin-left: -100%;
}
#earth:before {
  content: " ";
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%/100%;
  box-shadow: inset 0px 0px 62px 20px rgba(60, 105, 138, 0.85);
}
#earth:after {
  zoom: 1;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF000000', endColorstr='#FF000000');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  background-image: -moz-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-image: -webkit-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-image: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%/100%;
}

#title-game {
  position: absolute;
  font-weight: 300;
  top: 16%;
  left: 0;
  right: 0;
  margin-top: -80px;
  font-size: 130px;
  text-align: center;
  letter-spacing: 20px;
  padding-left: 20px;
  background: -webkit-linear-gradient(white, #dbdde0, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 6s;
  /* animation-iteration-count: infinite; */
  animation-timing-function: ease;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.title-appear {
  animation-name: animGravity;
}

.subtitle {
  position: absolute;
  font-weight: 300;
  top: 70%;
  left: 0;
  right: 0;
  font-size: 25px;
  text-align: center;
  letter-spacing: 6px;
}
.subtitle span {
  color: #d8d8d8;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
.subtitle span:nth-child(1) {
  animation-name: animDont;
}
.subtitle span:nth-child(2) {
  animation-name: animLet;
}
.subtitle span:nth-child(3) {
  animation-name: animGo;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
@keyframes animGravity {
  0% {
    transform: translateY(-26px);
    opacity: 0;
  }
  30%, 80% {
    letter-spacing: 40px;
    padding-left: 40px;
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    letter-spacing: 35px;
    padding-left: 35px;
    transform: translateY(-4px);
    opacity: 0;
  }
}
@keyframes animDont {
  0%	, 15% {
    transform: translateY(-26px);
    opacity: 0;
  }
  35%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}
@keyframes animLet {
  0%	, 25% {
    transform: translateY(-26px);
    opacity: 0;
  }
  45%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}
@keyframes animGo {
  0%	, 35% {
    transform: translateY(-26px);
    opacity: 0;
  }
  55%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
</style>
