<template>
  <div tabindex="0" ref="focus" @keydown.enter="playVideo">
    <video ref="video" :autoplay="autoplay" :loop="loop" :poster="imageBg">
      <source v-if="first" type="video/mp4" :src="redDeath" />
      <source v-else type="video/mp4" :src="trueIntro" />
      <!-- <img src="https://images.unsplash.com/photo-1458724338480-79bc7a8352e4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=0e8fe82e7f50091319fdc635582bf62d" title="Your browser does not support the <video> tag" /> -->
    </video>

    <div v-if="playGame" class="overlay">
      <h1>Enter to start your adventure</h1>
    </div>
    <div v-if="tryAgain" class="overlay">
      <h1>
        Try Again <br />
        Maybe this PC from Xuxa can do it this time
      </h1>
    </div>
  </div>
</template>

<script>
export default {
  name: "Intro",
  mounted() {
    if (this.skip) {
      this.$router.push({ name: "Home" });

      return;
    }

    this.$nextTick(() => this.$refs.focus.focus());
  },
  props: {
    skip: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      redDeath: require("@/assets/videos/PS2-Red-Screen-of-Death-480p.mp4"),
      trueIntro: require("@/assets/videos/PS2-Startup-Intro-360p.mp4"),
      imageBg: require("@/assets/original_drawn_by_ming_yee_sheh.jpg"),
      tryAgain: false,
      playGame: true,
      first: true,
      autoplay: false,
      loop: false
    };
  },
  methods: {
    playVideo() {
      let vm = this
      const video = this.$refs.video

      // console.log(this.playGame, this.tryAgain, !this.playGame && !this.tryAgain)

      if(!this.playGame && !this.tryAgain) {
        return
      }

      if(this.tryAgain) {
        video.load()
        vm.tryAgain = false
      }

      video.volume = 0.5
      video.play()

      if(this.playGame) {
        this.playGame = false

        setTimeout(() => {
          vm.tryAgain = true
          vm.first = false
        }, 20000)
      } else {
        video.onended = function() {
          vm.$router.push({ name: "Home" });
        };
      }
    }
  }
}
</script>

<style scoped>
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  object-fit: cover;
}

/*****************************/

.overlay {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
}

.overlay h1 {
  text-align: center;
  /* padding-top: 100px; */
  color: #fff;
  font-family: inherit;
  max-width: 350px;
}

.overlay p{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  font-family: inherit;
  margin-bottom: 20px;
}

.overlay a {
  color: #fff;
}

.orange {
  text-decoration: none;
}
 p a.orange {
   color: #f27950;
 }

</style>