<template>
  <div tabindex="0" @click="$refs.focus.focus()" @keydown.escape="backHome">
    <div class="wrapper">
      <form @submit.prevent="createRoom">
        <div class="profile-card js-profile-card">
          <div class="profile-card__cnt js-profile-cnt">
            <div class="profile-card__name">
              Room
            </div>
            <div class="profile-card-inf__item">
              <label for="name" class="profile-card-inf__title">
                Name
              </label>
              <div class="animated-input">
                <input
                  autocomplete="off"
                  v-model.trim="room.name"
                  required
                  id="name"
                  ref="focus"
                  class="effect-5"
                  type="string"
                  minlength="3"
                  maxlength="16"
                  @keydown.shift.tab.prevent="$refs.submit.focus()"
                />
                <span class="focus-border"></span>
              </div>
            </div>
            <!-- <div class="">
              <label for="password">
                Password
              </label>
              <input v-model.trim="room.password" type="string" id="password">
            </div> -->
            <div class="profile-card-inf__item">
              <label for="width" class="profile-card-inf__title">
                Width
              </label>
              <div class="animated-input">
                <input v-model.number="room.width" class="effect-5" type="number" id="width" min="7" max="15" required>
                <span class="focus-border"></span>
              </div>
            </div>
            <div class="profile-card-inf__item">
              <label for="height" class="profile-card-inf__title">
                Height
              </label>
              <div class="animated-input">
                <input v-model.number="room.height" class="effect-5" type="number" id="height" min="7" max="15" required>
                <span class="focus-border"></span>
              </div>
            </div>
            <div class="profile-card-inf__item">
              <label for="boxs" class="profile-card-inf__title">
                Box
              </label>
              <div class="animated-input">
                <select v-model="room.box" class="effect-5" name="boxs" id="boxs" required>
                  <option value="1">0%</option>
                  <option value="2">50%</option>
                  <option value="4">75%</option>
                  <option value="10">90%</option>
                </select>
                <span class="focus-border"></span>
              </div>
            </div>
            <div class="profile-card-inf__item">
              <label for="loot" class="profile-card-inf__title">
                Loot
              </label>
              <div class="animated-input">
                <select v-model="room.loot" class="effect-5" name="loot" id="loot" required>
                  <option value="10">10%</option>
                  <option value="4">25%</option>
                  <option value="2">50%</option>
                  <option value="1">100%</option>
                </select>
                <span class="focus-border"></span>
              </div>
            </div>
            <!-- <div class="profile-card-inf__item">
              <label for="skill" class="profile-card-inf__title">
                Skill
              </label>
              <div class="animated-input">
                <div tabindex="0" class="effect-5 input-switch">
                  <div 
                    class="switch switch-on"
                    :class="{ 'switch-active': room.skill }"
                    @click.prevent="room.skill == true"
                  >
                    On
                  </div>
                  <div
                    class="switch switch-off"
                    :class="{ 'switch-active': !room.skill }"
                    @click="room.skill == false"
                  >
                    Off
                  </div>
                </div>
                <span class="focus-border"></span>
              </div>
            </div> -->
            <div class="profile-card-ctr">
              <button
                ref="submit"
                tabindex="0"
                button="submit"
                class="profile-card__button button--orange"
                @keydown.tab.exact.prevent="$refs.focus.focus()"
              >
                Create Room
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "Room",
  mounted() {
    const preConfigRoom = JSON.parse(localStorage.getItem("create-room"));

    if(preConfigRoom) {
      this.$set(this, 'room', preConfigRoom)
    }
    
    this.$nextTick(() => this.$refs.focus.focus())
  },
  data() {
    return {
      room: {
        name: "",
        // password: null,
        width: 11,
        height: 9,
        loot: 2,
        box: 2,
        skill: false,
        slots: [],
      }
    }
  },
  sockets: {
    "created-room"(roomName) {
      console.log(`You enter in room: ${roomName}`);

      this.goToGameRoom(roomName)
    },
  },
  methods: {
    createRoom() {
      const room = this.room
      const playerName = this.$parent.playerName

      if(room.name.length > 16) {
        alert("name is too long")
        return
      }

      if(room.width > 15) {
        room.width = 15
      }

      if(room.width < 7) {
        room.width = 7
      }

      if(room.height > 15) {
        room.height = 15
      }

      if(room.height < 7) {
        room.height = 7
      }

      localStorage.setItem("create-room", JSON.stringify(room));
      
      this.$socket.emit("create-room", { room, playerName });
    },
    goToGameRoom(name) {
      this.$router.push({ name: "Game Room", params: { name } })
    },
    backHome() {
      this.$router.push({ name: "Home", params: { skip: true } })
    },
  }
}
</script>

<style scoped>
a,
a:hover {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.wrapper {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 50px 20px;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
}
@media screen and (max-width: 768px) {
  .wrapper {
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
  }
}

.profile-card {
  width: 100%;
  min-height: 460px;
  margin: auto;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  background: #fff;
  border-radius: 12px;
  max-width: 700px;
  position: relative;
}

.profile-card.active .profile-card__cnt {
  filter: blur(6px);
}

.profile-card.active .profile-card-message,
.profile-card.active .profile-card__overlay {
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0.1s;
}
.profile-card.active .profile-card-form {
  transform: none;
  transition-delay: 0.1s;
}
.profile-card__img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0px 5px 50px 0px #6c44fc, 0px 0px 0px 7px rgba(107, 74, 255, 0.5);
}
@media screen and (max-width: 576px) {
  .profile-card__img {
    width: 120px;
    height: 120px;
  }
}
.profile-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.profile-card__cnt {
  margin-top: -35px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 40px;
  transition: all 0.3s;
}
.profile-card__name {
  font-weight: 700;
  font-size: 34px;
  color: #6944ff;
  padding-top: 15px;
  margin-bottom: 15px;
}
.profile-card__txt {
  font-size: 18px;
  font-weight: 500;
  color: #324e63;
  margin-bottom: 15px;
}
.profile-card__txt strong {
  font-weight: 700;
}
.profile-card-loc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}
.profile-card-loc__icon {
  display: inline-flex;
  font-size: 27px;
  margin-right: 10px;
}
.profile-card-inf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 35px;
}
.profile-card-inf__item {
  padding: 10px 35px;
  min-width: 450px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .profile-card-inf__item {
    padding: 10px 20px;
    min-width: 120px;
  }
}
.profile-card-inf__title {
  font-weight: 700;
  font-size: 27px;
  color: #324e63;
}
.profile-card-inf__txt {
  font-weight: 500;
  margin-top: 7px;
}

.profile-card-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
@media screen and (max-width: 576px) {
  .profile-card-ctr {
    flex-wrap: wrap;
  }
}
.profile-card__button {
  background: none;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 19px;
  margin: 15px 35px;
  padding: 15px 40px;
  min-width: 201px;
  border-radius: 50px;
  min-height: 55px;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .profile-card__button {
    min-width: 170px;
    margin: 15px 25px;
  }
}
@media screen and (max-width: 576px) {
  .profile-card__button {
    min-width: inherit;
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    max-width: 300px;
  }
  .profile-card__button:last-child {
    margin-bottom: 0;
  }
}
.profile-card__button:focus {
  outline: none !important;
}
@media screen and (min-width: 768px) {
  .profile-card__button:hover {
    transform: translateY(-5px);
  }
}
.profile-card__button:first-child {
  margin-left: 0;
}
.profile-card__button:last-child {
  margin-right: 0;
}

.profile-card__button.button--orange {
  background: linear-gradient(45deg, #d5135a, #f05924);
  box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
}

.profile-card__button.button--orange:hover,
.profile-card__button.button--orange:focus {
  box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
}

.profile-card-message {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 130px;
  padding-bottom: 100px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.profile-card-form {
  box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 35px;
  transform: scale(0.8);
  position: relative;
  z-index: 3;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .profile-card-form {
    max-width: 90%;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .profile-card-form {
    padding: 20px;
  }
}
.profile-card-form__bottom {
  justify-content: space-between;
  display: flex;
}
@media screen and (max-width: 576px) {
  .profile-card-form__bottom {
    flex-wrap: wrap;
  }
}

.profile-card textarea {
  width: 100%;
  resize: none;
  height: 210px;
  margin-bottom: 20px;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  padding: 15px 20px;
  color: #324e63;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  outline: none;
  transition: all 0.3s;
}

.profile-card textarea:focus {
  outline: none;
  border-color: #8a979e;
}

.profile-card__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba(22, 33, 72, 0.35);
  border-radius: 12px;
  transition: all 0.3s;
}

.profile-card-inf__item .animated-input {
  position: relative;
  width: 50%;
  /* height: 100%; */
  display: flex;
  padding: 0;
}

.animated-input input,
.animated-input select {
  padding: 0;
  width: 100%;
  font-size: 22px;
  /* text-align: right; */
}

.input-switch {
  padding: 0;
  width: 100%;
  display: flex;
  height: 100%;
}

.switch-on.switch-active {
  background-color: green;
  color: #fff;
}

.switch-off.switch-active {
  background-color: red;
  color: #fff;
}

.animated-input .switch {
  height: 100%;
  align-self: center;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.effect-5 {
  border: 0;
  transition: 0.4s;
  /* padding: 5px 0 7px; */
  border: 1px solid transparent;
  border-bottom-color: #ccc;
  transition: 0.4s;
}

.effect-5:focus:not(.input-switch) {
  padding-left: 10px;
  /* padding: 5px 14px 7px; */
}

.effect-5 ~ .focus-border{
  position: absolute;
  height: 36px;
  bottom: 0;
  left: 0;
  width: 0;
  transition: 0.4s;
}
.effect-5:focus ~ .focus-border{
  width: 100%;
  transition: 0.4s;
  border: 2px solid #3399FF;
}
</style>
