<template>
  <div tabindex="0" ref="focus" @keydown="moveInRooms">
    <div class="wrapper">
      <h1>Room List</h1>
      <div>
        <span>Press the <i class="fas fa-arrow-circle-up"></i> key to search again</span>
      </div>
      <div v-show="loadingAll" class="loading-rooms">
        <i class="fas fa-spinner"></i>
      </div>
      <div class="container-rooms">
        <div v-show="!rooms.length">
          <p class="nothing-message">No rooms found</p>
        </div>
        <div
          v-for="(room, index) in rooms"
          :key="room.name"
          class="room-card"
          :class="selectedRoom == index ? 'room-active' : null"
        >
          <div class="top-label">
            <h3>{{ room.name }}</h3>
            <span>by </span><strong>{{ roomOnwer(room) }}</strong>
          </div>
          <div class="text-black">
            <div class="form-row">
              <span>Bomber Friends</span>
            </div>
            <div class="form-row">
              <span>{{ room.status }}</span>
            </div>
          </div>
          <b class="left-label text-black">Slots</b>
          <div class="bot-label">
            <!-- <span>{{ `${slotsFree(room)}/4` }}</span> -->
            <div
              v-for="slot in room.slots"
              :key="slot.index"
              class="slot-square"
              :class="{ 'closed': slot.playerId }"
            >
            </div>
          </div>
          <!-- <div class="form-row">
            <b>Password</b>
            <input v-model="room.password" maxlength="16" />
          </div> -->
          <!-- <div class="form-row">
            <button @click.prevent="enterRoom(room.name)">Entrar</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Search",
  mounted() {
    this.$socket.emit("get-rooms");
    this.$nextTick(() => this.$refs.focus.focus())
  },
  data() {
    return {
      loadingAll: true,
      loading: false,
      selectedRoom: 0,
      rooms: [

      ],
    }
  },
  sockets: {
    "all-rooms"(rooms) {
      console.log(`All rooms: ${rooms.length}`, rooms);

      this.updateRooms(rooms)
    },
    "enter-room"(roomName) {
      console.log(`You enter in room: ${roomName}`);

      this.goToGameRoom(roomName)
    }
  },
  methods: {
    updateRooms(newRooms) {
      // this.rooms.splice(0, this.rooms.length, newRooms)
      this.rooms.splice(0);
      this.rooms = newRooms;
      this.selectedRoom = 0;
      this.loadingAll = false;
    },
    tryEnterRoom() {
      const index = this.selectedRoom;
      const roomName = this.rooms[index].name;
      const playerName = this.$parent.playerName;

      if(this.rooms[index].status == "In Game") {
        alert("The match has already started");
        
        return;
      }
      
      this.$socket.emit("try-room", { roomName, playerName });
    },
    goToGameRoom(name) {
      this.$router.push({ name: "Game Room", params: { name } });
    },
    slotsFree(room) {
      return room.slots.filter(slot => slot.playerId).length;
    },
    roomOnwer(room) {
      const owner = room.slots.find(slot => slot.playerId == room.owner);

      return owner ? owner.playerName : "Not Found";
    },
    moveInRooms(event) {
      console.log(event.key, this.selectedRoom)
      switch(event.key) {
        case "Escape":
          this.$router.push({ name: "Home", params: { skip: true } });
          return;
        case "ArrowRight":
          if(this.selectedRoom < this.rooms.length - 1) {
            this.selectedRoom++;
          }
          return;
        case "ArrowLeft":
          if(this.selectedRoom > 0) {
            this.selectedRoom--;
          }
          return;
        case "ArrowUp":
          if(!this.loadingAll) {
            this.loadingAll = true;
            this.$socket.emit("get-rooms");
          }
          return;
        case "Enter":
          if(this.selectedRoom < this.rooms.length) {
            this.tryEnterRoom()
          }
          return;
      }
    }
  }
}
</script>

<style scoped>
.form-row {
  margin-bottom: 5px;
}

.container-rooms {
  display: flex;
  justify-content: center;
}

.wrapper {
  color: #fff;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 50px 20px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
}

.room-card {
  transition: 0.5;
  width: 100%;
  min-height: 220px;
  margin: 10px;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  background: #fff;
  border-radius: 12px;
  max-width: 300px;
  position: relative;
  opacity: 0.6;
  transform: scale(0.88);
}

.room-active {
  opacity: 1;
  transform: scale(1);
}

.top-label {
  background-color: #6944ff;
  color: #fff;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  /* box-shadow: 1px 10px 19px 0px grey; */
  margin-bottom: 10px;
  font-size: 18px;
}

.bot-label {
  background-color: #6944ff;
  color: #fff;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  margin-top: 5px;
  display: flex;
}

.slot-square {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #fff
}

.closed {
  background-color: green;
}

.left-label {

}

.top-label h3{
  font-size: 22px;
  margin: 0;
}

.nothing-message {
  font-size: 32px;
}

.loading-rooms {
  width: 50px;
  height: 50px;
  color: #fff;
  position: absolute;
  top: 80px;
  right: calc(50% - 25px);
  font-size: 32px;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.text-black {
  color: #2c3e50;
}
</style>