<template>
  <div class="wrapper-cards">
    <div class="cols">
			<div
        v-for="player in players"
        :key="player.index"
        class="col"
      >
        <div class="container" :class="{ confirmed: player.confirmed }">
          <div class="front">
            <div v-if="!me(player)" class="inner">
              <div v-if="player.playerId">
                <p>{{ player.playerName }}</p>
                <span>Choosing...</span>
              </div>
              <span v-else>Waiting...</span>
            </div>
            <div v-else class="inner">
              <div class="title">Choose your character</div>
              <div class="choose-char">
                <span class="arrow arrow-left" @click="$emit('prev')">Prev</span>
                <Geek :id="currentChar.id" :live="true" :idle="true" />
                <span class="arrow arrow-right" @click="$emit('next')">Next</span>
              </div>
              <span>{{ currentChar.name }}</span>
              <div class="sub-title">{{ currentChar.sub }}</div>
            </div>
          </div>
          <div
            class="back"
            :style="`background-image: url(${Number.isInteger(player.id) ? charList[player.id].image : false})`"
          >
            <div class="inner">
              <p>Ready</p>
            </div>
          </div>
        </div>
			</div>
		</div>
  </div>
</template>

<script>
import Geek from "@/components/Geek"
import charList from "@/plugins/charList.js";

export default {
  name: "CharCard",
  components: {
    Geek
  },
  props: {
    charId: {
      type: Number
    },
    playerId: {
      type: String
    },
    players: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      charList
    };
  },
  methods: {
    me(player) {
      return player && player.playerId == this.playerId
    }
  },
  computed: {
    currentChar() {
      return this.charList.find(char => char.id == this.charId)
    }
  }
}
</script>

<style scoped>
h1 {
  font-size: 2.5rem;
  font-family: 'Montserrat';
  font-weight: normal;
  color: #444;
  text-align: center;
  margin: 2rem 0;
}

.wrapper-cards {
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  width: calc(25% - 2rem);
  margin: 1rem;
}

.container {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
	background-position: center;
	transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}

.back {
  background-color: #cedce7;
  background-color: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after {
	position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: 0.6;
  background-color: #000;
  backface-visibility: hidden;
  border-radius: 10px;
}
.container:hover .front,
.container:hover .back {
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
}

.container .back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.container .front {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container.confirmed .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container.confirmed .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p {
  font-size: 2rem;
  margin: 1rem 0;
  position: relative;
}

.front .inner .title {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.front .inner .sub-title {
  font-size: 1rem;
}

.front .inner p:after,
.front .inner .title:after {
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.front .arrow:hover:after {
  content: '';
  width: 2rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.2rem;
}

.front .inner span {
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 0.9em;
}

@media screen and (max-width: 64rem) {
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

.container:not(.confirmed) .back .inner {
  transition: 0.2s;
  visibility: hidden;
}

.character {
  --pixel-size: 4;
  margin: auto !important;
}

.choose-char {
  position: relative;
  margin-bottom: 10px;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 0.8em;
  cursor: pointer;
}

.arrow-left {
  left: -15px;
}

.arrow-right {
  right: -15px;
}
</style>