<template>
  <div class="container-loader">
    <svg v-if="!loaded" class="loader" viewBox="0 0 100 100" overflow="visible">
      <g class="core">
        <circle class="path" cx="50" cy="50" r="1" fill="none" />
      </g>
      <g class="spinner">
        <circle class="path" cx="50" cy="50" r="20" fill="none" />
      </g>
      <g class="layer-1">
        <circle class="path" cx="50" cy="50" r="70" fill="none" />
      </g>
      <g class="layer-2">
        <circle class="path" cx="50" cy="50" r="120" fill="none" />
      </g>
      <g class="layer-3">
        <circle class="path" cx="50" cy="50" r="180" fill="none" />
      </g>
      <g class="layer-4">
        <circle class="path" cx="50" cy="50" r="240" fill="none" />
      </g>
      <g class="layer-5">
        <circle class="path" cx="50" cy="50" r="300" fill="none" />
      </g>
      <g class="layer-6">
        <circle class="path" cx="50" cy="50" r="380" fill="none" />
      </g>
      <g class="layer-7">
        <circle class="path" cx="50" cy="50" r="450" fill="none" />
      </g>
      <g class="layer-8">
        <circle class="path" cx="50" cy="50" r="540" fill="none" />
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  name: "FullLoading",
  mounted() {
    this.loader(300)
  },
  props: {
    loading: {
      type: Boolean
    }
  },
  data() {
    return {
      loaded: true,
    }
  },
  watch: {
    loading: function(val) {
      if(val) {
        this.loader(200)
      }
    }
  },
  methods: {
    loader(delay) {
      let body = document.getElementsByTagName('body')[0];
      // console.log()
      this.loaded = false;

      setTimeout(() => {
        body.classList.add('loading');
        // this.loading = true;
      }, delay);

      setTimeout(() => {
        body.classList.add('loaded');
      }, delay + 500);

      setTimeout(() => {
        this.loaded = true;
        body.classList.remove('loading');
        body.classList.remove('loaded');
        this.$emit("finished");
        // $body.removeClass('restart').addClass('new-page');
      }, delay + 3400);
    }
  }
}
</script>

<style>
/* -------------------
    # LOADER
   ------------------- */
.layer-1 > .path {
  stroke: rgba(234, 234, 234, 0.5);
  stroke-width: 15;
  stroke-dasharray: 1507.2;
  stroke-dashoffset: 1507.2;
  visibility: hidden;
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.loaded .layer-1 > .path {
  visibility: visible;
  -moz-animation: layer-1 1.25s ease-in;
  -webkit-animation: layer-1 1.25s ease-in;
  animation: layer-1 1.25s ease-in;
}

@-moz-keyframes layer-1 {
  0% {
    stroke-dasharray: 1507.2;
    stroke-dashoffset: 1507.2;
  }
  75% {
    stroke-width: 15;
    stroke-dashoffset: 753.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 45;
    stroke-width: 225;
    stroke-dasharray: 1513.48;
    stroke-dashoffset: 0;
    -moz-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
@-webkit-keyframes layer-1 {
  0% {
    stroke-dasharray: 1507.2;
    stroke-dashoffset: 1507.2;
  }
  75% {
    stroke-width: 15;
    stroke-dashoffset: 753.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 45;
    stroke-width: 225;
    stroke-dasharray: 1513.48;
    stroke-dashoffset: 0;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
@keyframes layer-1 {
  0% {
    stroke-dasharray: 1507.2;
    stroke-dashoffset: 1507.2;
  }
  75% {
    stroke-width: 15;
    stroke-dashoffset: 753.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 45;
    stroke-width: 225;
    stroke-dasharray: 1513.48;
    stroke-dashoffset: 0;
    -moz-transform: rotate(450deg);
    -ms-transform: rotate(450deg);
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
.layer-2 > .path {
  stroke: rgba(234, 234, 234, 0.3);
  stroke-width: 20;
  stroke-dasharray: 1507.2;
  stroke-dashoffset: 1507.2;
  visibility: hidden;
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.loaded .layer-2 > .path {
  visibility: visible;
  -moz-animation: layer-2 1.25s ease-in;
  -webkit-animation: layer-2 1.25s ease-in;
  animation: layer-2 1.25s ease-in;
}

@-moz-keyframes layer-2 {
  0% {
    stroke-dasharray: 1507.2;
    stroke-dashoffset: 1507.2;
  }
  75% {
    stroke-width: 20;
    stroke-dashoffset: 753.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 60;
    stroke-dasharray: 1513.48;
    stroke-dashoffset: 0;
    -moz-transform: rotate(420deg);
    transform: rotate(420deg);
  }
}
@-webkit-keyframes layer-2 {
  0% {
    stroke-dasharray: 1507.2;
    stroke-dashoffset: 1507.2;
  }
  75% {
    stroke-width: 20;
    stroke-dashoffset: 753.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 60;
    stroke-dasharray: 1513.48;
    stroke-dashoffset: 0;
    -webkit-transform: rotate(420deg);
    transform: rotate(420deg);
  }
}
@keyframes layer-2 {
  0% {
    stroke-dasharray: 1507.2;
    stroke-dashoffset: 1507.2;
  }
  75% {
    stroke-width: 20;
    stroke-dashoffset: 753.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 60;
    stroke-dasharray: 1513.48;
    stroke-dashoffset: 0;
    -moz-transform: rotate(420deg);
    -ms-transform: rotate(420deg);
    -webkit-transform: rotate(420deg);
    transform: rotate(420deg);
  }
}
.layer-3 > .path {
  stroke: rgba(234, 234, 234, 0.8);
  stroke-width: 40;
  stroke-dasharray: 1130.4;
  stroke-dashoffset: 1130.4;
  visibility: hidden;
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -webkit-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
.loaded .layer-3 > .path {
  visibility: visible;
  -moz-animation: layer-3 1.25s ease-in;
  -webkit-animation: layer-3 1.25s ease-in;
  animation: layer-3 1.25s ease-in;
}

@-moz-keyframes layer-3 {
  0% {
    stroke-dasharray: 1130.4;
    stroke-dashoffset: 1130.4;
  }
  75% {
    stroke-width: 40;
    stroke-dashoffset: 565.2;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 120;
    stroke-dasharray: 1136.68;
    stroke-dashoffset: 0;
    -moz-transform: rotate(410deg);
    transform: rotate(410deg);
  }
}
@-webkit-keyframes layer-3 {
  0% {
    stroke-dasharray: 1130.4;
    stroke-dashoffset: 1130.4;
  }
  75% {
    stroke-width: 40;
    stroke-dashoffset: 565.2;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 120;
    stroke-dasharray: 1136.68;
    stroke-dashoffset: 0;
    -webkit-transform: rotate(410deg);
    transform: rotate(410deg);
  }
}
@keyframes layer-3 {
  0% {
    stroke-dasharray: 1130.4;
    stroke-dashoffset: 1130.4;
  }
  75% {
    stroke-width: 40;
    stroke-dashoffset: 565.2;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 120;
    stroke-dasharray: 1136.68;
    stroke-dashoffset: 0;
    -moz-transform: rotate(410deg);
    -ms-transform: rotate(410deg);
    -webkit-transform: rotate(410deg);
    transform: rotate(410deg);
  }
}
.layer-4 > .path {
  stroke: rgba(234, 234, 234, 0.6);
  stroke-width: 20;
  stroke-dasharray: 1507.2;
  stroke-dashoffset: 1507.2;
  visibility: hidden;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.loaded .layer-4 > .path {
  visibility: visible;
  -moz-animation: layer-4 1.25s ease-in;
  -webkit-animation: layer-4 1.25s ease-in;
  animation: layer-4 1.25s ease-in;
}

@-moz-keyframes layer-4 {
  0% {
    stroke-dasharray: 1507.2;
    stroke-dashoffset: 1507.2;
  }
  75% {
    stroke-width: 20;
    stroke-dashoffset: 753.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 60;
    stroke-dasharray: 1513.48;
    stroke-dashoffset: 0;
    -moz-transform: rotate(390deg);
    transform: rotate(390deg);
  }
}
@-webkit-keyframes layer-4 {
  0% {
    stroke-dasharray: 1507.2;
    stroke-dashoffset: 1507.2;
  }
  75% {
    stroke-width: 20;
    stroke-dashoffset: 753.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 60;
    stroke-dasharray: 1513.48;
    stroke-dashoffset: 0;
    -webkit-transform: rotate(390deg);
    transform: rotate(390deg);
  }
}
@keyframes layer-4 {
  0% {
    stroke-dasharray: 1507.2;
    stroke-dashoffset: 1507.2;
  }
  75% {
    stroke-width: 20;
    stroke-dashoffset: 753.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 60;
    stroke-dasharray: 1513.48;
    stroke-dashoffset: 0;
    -moz-transform: rotate(390deg);
    -ms-transform: rotate(390deg);
    -webkit-transform: rotate(390deg);
    transform: rotate(390deg);
  }
}
.layer-5 > .path {
  stroke: rgba(234, 234, 234, 0.5);
  stroke-width: 30;
  stroke-dasharray: 1884;
  stroke-dashoffset: 1884;
  visibility: hidden;
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.loaded .layer-5 > .path {
  visibility: visible;
  -moz-animation: layer-5 1.25s ease-in;
  -webkit-animation: layer-5 1.25s ease-in;
  animation: layer-5 1.25s ease-in;
}

@-moz-keyframes layer-5 {
  0% {
    stroke-dasharray: 1884;
    stroke-dashoffset: 1884;
  }
  75% {
    stroke-width: 30;
    stroke-dashoffset: 942;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 90;
    stroke-dasharray: 1890.28;
    stroke-dashoffset: 0;
    -moz-transform: rotate(460deg);
    transform: rotate(460deg);
  }
}
@-webkit-keyframes layer-5 {
  0% {
    stroke-dasharray: 1884;
    stroke-dashoffset: 1884;
  }
  75% {
    stroke-width: 30;
    stroke-dashoffset: 942;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 90;
    stroke-dasharray: 1890.28;
    stroke-dashoffset: 0;
    -webkit-transform: rotate(460deg);
    transform: rotate(460deg);
  }
}
@keyframes layer-5 {
  0% {
    stroke-dasharray: 1884;
    stroke-dashoffset: 1884;
  }
  75% {
    stroke-width: 30;
    stroke-dashoffset: 942;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 90;
    stroke-dasharray: 1890.28;
    stroke-dashoffset: 0;
    -moz-transform: rotate(460deg);
    -ms-transform: rotate(460deg);
    -webkit-transform: rotate(460deg);
    transform: rotate(460deg);
  }
}
.layer-6 > .path {
  stroke: rgba(234, 234, 234, 0.2);
  stroke-width: 45;
  stroke-dasharray: 2386.4;
  stroke-dashoffset: 2386.4;
  visibility: hidden;
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  -webkit-transform: rotate(-80deg);
  transform: rotate(-80deg);
}
.loaded .layer-6 > .path {
  visibility: visible;
  -moz-animation: layer-6 1.25s ease-in;
  -webkit-animation: layer-6 1.25s ease-in;
  animation: layer-6 1.25s ease-in;
}

@-moz-keyframes layer-6 {
  0% {
    stroke-dasharray: 2386.4;
    stroke-dashoffset: 2386.4;
  }
  75% {
    stroke-width: 45;
    stroke-dashoffset: 1193.2;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 135;
    stroke-dasharray: 2392.68;
    stroke-dashoffset: 0;
    -moz-transform: rotate(400deg);
    transform: rotate(400deg);
  }
}
@-webkit-keyframes layer-6 {
  0% {
    stroke-dasharray: 2386.4;
    stroke-dashoffset: 2386.4;
  }
  75% {
    stroke-width: 45;
    stroke-dashoffset: 1193.2;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 135;
    stroke-dasharray: 2392.68;
    stroke-dashoffset: 0;
    -webkit-transform: rotate(400deg);
    transform: rotate(400deg);
  }
}
@keyframes layer-6 {
  0% {
    stroke-dasharray: 2386.4;
    stroke-dashoffset: 2386.4;
  }
  75% {
    stroke-width: 45;
    stroke-dashoffset: 1193.2;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 135;
    stroke-dasharray: 2392.68;
    stroke-dashoffset: 0;
    -moz-transform: rotate(400deg);
    -ms-transform: rotate(400deg);
    -webkit-transform: rotate(400deg);
    transform: rotate(400deg);
  }
}
.layer-7 > .path {
  stroke: #eaeaea;
  stroke-width: 75;
  stroke-dasharray: 2826;
  stroke-dashoffset: 2826;
  visibility: hidden;
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.loaded .layer-7 > .path {
  visibility: visible;
  -moz-animation: layer-7 1.25s ease-in;
  -webkit-animation: layer-7 1.25s ease-in;
  animation: layer-7 1.25s ease-in;
}

@-moz-keyframes layer-7 {
  0% {
    stroke-dasharray: 2826;
    stroke-dashoffset: 2826;
  }
  75% {
    stroke-width: 75;
    stroke-dashoffset: 1413;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 225;
    stroke-dasharray: 2832.28;
    stroke-dashoffset: 0;
    -moz-transform: rotate(470deg);
    transform: rotate(470deg);
  }
}
@-webkit-keyframes layer-7 {
  0% {
    stroke-dasharray: 2826;
    stroke-dashoffset: 2826;
  }
  75% {
    stroke-width: 75;
    stroke-dashoffset: 1413;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 225;
    stroke-dasharray: 2832.28;
    stroke-dashoffset: 0;
    -webkit-transform: rotate(470deg);
    transform: rotate(470deg);
  }
}
@keyframes layer-7 {
  0% {
    stroke-dasharray: 2826;
    stroke-dashoffset: 2826;
  }
  75% {
    stroke-width: 75;
    stroke-dashoffset: 1413;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 225;
    stroke-dasharray: 2832.28;
    stroke-dashoffset: 0;
    -moz-transform: rotate(470deg);
    -ms-transform: rotate(470deg);
    -webkit-transform: rotate(470deg);
    transform: rotate(470deg);
  }
}
.layer-8 > .path {
  stroke: rgba(234, 234, 234, 0.5);
  stroke-width: 250;
  stroke-dasharray: 3391.2;
  stroke-dashoffset: 3391.2;
  visibility: hidden;
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -webkit-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
.loaded .layer-8 > .path {
  visibility: visible;
  -moz-animation: layer-8 1.25s ease-in;
  -webkit-animation: layer-8 1.25s ease-in;
  animation: layer-8 1.25s ease-in;
}

@-moz-keyframes layer-8 {
  0% {
    stroke-dasharray: 3391.2;
    stroke-dashoffset: 3391.2;
  }
  75% {
    stroke-width: 250;
    stroke-dashoffset: 1695.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 750;
    stroke-dasharray: 3397.48;
    stroke-dashoffset: 0;
    -moz-transform: rotate(410deg);
    transform: rotate(410deg);
  }
}
@-webkit-keyframes layer-8 {
  0% {
    stroke-dasharray: 3391.2;
    stroke-dashoffset: 3391.2;
  }
  75% {
    stroke-width: 250;
    stroke-dashoffset: 1695.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 750;
    stroke-dasharray: 3397.48;
    stroke-dashoffset: 0;
    -webkit-transform: rotate(410deg);
    transform: rotate(410deg);
  }
}
@keyframes layer-8 {
  0% {
    stroke-dasharray: 3391.2;
    stroke-dashoffset: 3391.2;
  }
  75% {
    stroke-width: 250;
    stroke-dashoffset: 1695.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 750;
    stroke-dasharray: 3397.48;
    stroke-dashoffset: 0;
    -moz-transform: rotate(410deg);
    -ms-transform: rotate(410deg);
    -webkit-transform: rotate(410deg);
    transform: rotate(410deg);
  }
}
.loader {
  position: absolute;
  width: 120px;
  height: 120px;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 9999;
}
.loaded .loader {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: all 2.25s ease-in-out 1.25s;
  -o-transition: all 2.25s ease-in-out 1.25s;
  -webkit-transition: all 2.25s ease-in-out;
  -webkit-transition-delay: 1.25s;
  transition: all 2.25s ease-in-out 1.25s;
}
.loader g, .loader circle {
  transform-origin: 50% 50%;
}

.core > .path {
  fill: #EF836E;
  visibility: hidden;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition: all 0.625s ease-in-out 0.15625s;
  -o-transition: all 0.625s ease-in-out 0.15625s;
  -webkit-transition: all 0.625s ease-in-out;
  -webkit-transition-delay: 0.15625s;
  transition: all 0.625s ease-in-out 0.15625s;
}
.loaded .core > .path {
  -moz-animation: core-loaded 2.5s ease-in-out;
  -webkit-animation: core-loaded 2.5s ease-in-out;
  animation: core-loaded 2.5s ease-in-out;
}

@-moz-keyframes core-loaded {
  0% {
    visibility: hidden;
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25%, 85% {
    opacity: 1;
    visibility: visible;
    -moz-transform: scale(1000, 1000);
    transform: scale(1000, 1000);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes core-loaded {
  0% {
    visibility: hidden;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25%, 85% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1000, 1000);
    transform: scale(1000, 1000);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes core-loaded {
  0% {
    visibility: hidden;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25%, 85% {
    opacity: 1;
    visibility: visible;
    -moz-transform: scale(1000, 1000);
    -ms-transform: scale(1000, 1000);
    -webkit-transform: scale(1000, 1000);
    transform: scale(1000, 1000);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.spinner {
  opacity: 1;
  -moz-transition: opacity 0.1s 0.1s;
  -o-transition: opacity 0.1s 0.1s;
  -webkit-transition: opacity 0.1s;
  -webkit-transition-delay: 0.1s;
  transition: opacity 0.1s 0.1s;
  -moz-animation: rotate 1.25s linear infinite;
  -webkit-animation: rotate 1.25s linear infinite;
  animation: rotate 1.25s linear infinite;
}
.loaded .spinner {
  opacity: 0;
}
.spinner > .path {
  stroke: #EF836E;
  stroke-width: 6;
  stroke-dasharray: 157;
  stroke-dashoffset: 157;
  -moz-animation: spinner 1.25s both infinite ease-in-out;
  -webkit-animation: spinner 1.25s both infinite ease-in-out;
  animation: spinner 1.25s both infinite ease-in-out;
}

@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
@keyframes rotate {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
@-moz-keyframes spinner {
  0% {
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
  }
  65% {
    stroke-dasharray: 157;
    stroke-dashoffset: 39.25;
    transform: rotate(135deg);
  }
  100% {
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
    transform: rotate(450deg);
  }
}
@-webkit-keyframes spinner {
  0% {
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
  }
  65% {
    stroke-dasharray: 157;
    stroke-dashoffset: 39.25;
    transform: rotate(135deg);
  }
  100% {
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
    transform: rotate(450deg);
  }
}
@keyframes spinner {
  0% {
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
  }
  65% {
    stroke-dasharray: 157;
    stroke-dashoffset: 39.25;
    transform: rotate(135deg);
  }
  100% {
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
    transform: rotate(450deg);
  }
}
.container-loader {
  position: fixed;
  overflow: hidden;
}

.center, .loader, .container-loader, .page, .btn:after, .ARS {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.loader, .core, .spinner, .path {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
</style>