<template>
  <div class="animated-input">
    <input v-model.trim="room.name" class="effect-5" type="string" id="name" required>
    <span class="focus-border"></span>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>