<template>
  <div class="flex-width" :class="reverse ? 'reverse' : 'normal'">
    <div
      v-for="player in players"
      :key="player.id"
      class="player-info"
      :class="{ 'info-death': !player.isLive }"
    >
      <div class="win-match">
        <div v-if="player.playerWins" class="focus-circle">{{ player.playerWins }}</div>
      </div>
      <div class="row-info">
        <b>Name: </b>
        <span>{{ player.playerName }}</span>
      </div>
      <div class="row-info">
        <b>Status: </b>
        <span>{{ player.isLive ? "Live" : "Death" }}</span>
      </div>
      <div class="row-info">
        <b>Skill: </b>
        <span>{{ player.skill ? player.skill : "None" }}</span>
      </div>
      <!-- <div class="row-info">
        <b>Total Kills: </b>
        <span>{{ player.totalKills }}</span>
      </div>
      <div class="row-info">
        <b>Total Deaths: </b>
        <span>{{ player.totalDeaths }}</span>
      </div> -->
      <hr>
      <div class="flex-column">
        <div class="half">
          <div class="row-info">
            <b>Speed:</b>
            <span>{{ player.speed }}</span>
          </div>
          <div class="row-info">
            <b>Power: </b>
            <span>{{ player.power }}</span>
          </div>
          <div class="row-info">
            <b>Bomb: </b>
            <span>{{ `${player.bomb}/${player.maxBomb}` }}</span>
          </div>
          <div class="row-info">
            <b>Kills: </b>
            <span>{{ player.kills ? `${player.totalKills}(${player.kills})` : player.totalKills }}</span>
          </div>
          <div class="row-info">
            <b>Deaths: </b>
            <span>{{ player.totalDeaths }}</span>
            <!-- <span>{{ player.deaths ? `${player.totalDeaths}(${player.deaths})` : player.deaths }}</span> -->
          </div>
        </div>
        <div class="half half-image">
          <img 
            v-if="charList[player.id]"
            class="info-image"
            :src="charList[player.id].image"
            :alt="charList[player.id].name"
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import charList from "@/plugins/charList.js";

export default {
  name: "Infos",
  mounted() {
    // this.charList = charList;
    // console.log(this.charList, this.charList[this.player.id])
  },
  props: {
    players: {
      type: Array,
      default: () => []
    },
    reverse: {
      type: Boolean
    },
    
  },
  data() {
    return {
      charList: charList
    }
  }
}
</script>

<style>
.player-info {
  padding: 5px 10px;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  background: #fff;
  border-radius: 12px;
  max-width: 700px;
  position: relative;
}

.row-info {
  display: flex;
  /* margin-bottom: 5px; */
  justify-content: space-between;
}

.flex-width {
  display: flex;
  width: 200px;
}

.flex-column {
  display: flex;
  flex-direction: row;
}

.normal {
  flex-direction: column;
}

.normal .player-info:first-child {
  margin-bottom: auto;  
}

.reverse {
  flex-direction: column-reverse;
}

.reverse .player-info:first-child {
  margin-top: auto;
}

.half {
  width: 50%;
  margin-top: 4px;
}

.half-image {
  margin-top: 8px;
  margin-left: 8px;
}

.info-image {
  width: 100%;
  border-radius: 5px;
  border: 1px solid black;
}

.player-info hr {
  margin: 2px 0;
  border: 1px solid #cfcfcf;
  border-radius: 50px;
}

.me {
  background: #607d8b;
  background: #362554;
  color: #fff;
}

.info-death {
  transition: 0.5s;
  opacity: 0.5;
  background: black;
  color: #fff;
}

.win-match {
  position: absolute;
  top: -16px;
}

.normal .win-match {
  right: -10px;
}

.reverse .win-match {
  left: -10px;
}

.win-match .focus-circle {
  color: #fff;
  background-color: #ff5722;
}
</style>