<template>
  <transition name="modal">
    <div
      v-bind="$attrs"
      class="modal-mask"
      tabindex="0"
      @keydown="handleKeydown"
    >
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              <h3>Menu</h3>
              <!-- <h3>End of the match</h3> -->
            </slot>
          </div>

          <div class="modal-body">
            <div>
              <button ref="resume" class="profile-card__button button--blue" @click="$emit('resume')">
                Resume
              </button>
            </div>
            <template v-if="owner">
              <div>
                <button class="profile-card__button button--green" @click="$emit('restart')">
                  New Match
                </button>
              </div>
              <!-- <div>
                <button class="profile-card__button button--green" @click="$emit('newMatch')">
                  New Match
                </button>
              </div> -->
            </template>

            <template v-else>
              <div v-if="!keep">
                <button class="profile-card__button button--green" @click="keep = true">
                  Keep playing
                </button>
              </div>
              <div v-else>
                Waiting for the room owner to choose ...
              </div>

            </template>

            <slot>
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <div>
                <button
                  class="profile-card__button button--red"
                  @click="$emit('leave')"
                  @keydown.tab.exact.prevent="$refs.resume.focus()"
                >
                  Leave the room
                </button>
              </div>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "Modal",
  inheritAttrs: false,
  mounted() {
    this.$nextTick(() => this.$refs.resume.focus())
  },
  props: {
    owner: {
      type: Boolean
    }
  },
  data() {
    return {
      keep: false,
    }
  },
  methods: {
    handleKeydown(event) {
      const keyPressed = event.key;

      if (keyPressed == "Escape") {
        return;
      }

      event.stopPropagation();
    }
  }
}
</script>

<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 400px;
  min-height: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

.modal-header h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 26px;
  color: #42b983;
}

.modal-body {
  margin: 10px 0;
}

.modal-footer {
  margin-top: auto;
}

.modal-container {
  border-radius: 10px;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.profile-card__button {
  background: none;
  border: none;
  font-weight: 700;
  font-size: 16px;
  margin: 10px 20px;
  padding: 5px 20px;
  min-width: 100px;
  border-radius: 50px;
  min-height: 35px;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all 0.3s;
  background-color: #aaa;
}

.profile-card__button.button--blue:not(:disabled) {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  min-height: 45px;
  padding: 5px 40px;
  /* box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4); */
}

.profile-card__button.button--red:not(:disabled) {
  background: linear-gradient(45deg, #f2721d, #c80e0e);
  min-height: 35px;
  /* box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4); */
}

.profile-card__button.button--green:not(:disabled) {
  background: linear-gradient(45deg, #59f21d, #0ec8af);
  min-height: 45px;
  padding: 5px 40px;
  /* box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4); */
}

.profile-card__button.button--blue:hover:not(:disabled),
.profile-card__button.button--blue:focus:not(:disabled) {
  box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
}

.profile-card__button.button--green:hover:not(:disabled),
.profile-card__button.button--green:focus:not(:disabled) {
  box-shadow: 0px 7px 30px rgba(19, 212, 67, 0.75);
}

.profile-card__button.button--red:hover:not(:disabled),
.profile-card__button.button--red:focus:not(:disabled) {
  box-shadow: 0px 7px 30px rgba(212, 48, 19, 0.75);
}
</style>